[2017-03-31 12:03] frairon opened #2 "panic on error. like a double-close"

[2017-04-27 10:59] #2 closed, assigned to nobody

[2017-04-27 15:06] frairon opened #10 "print error on failure right away"
let's print an error when it happens. Otherwise the user has to wait until the processor has shut down completely to see the errors. If that fails the is never shown, which can be annoying.

[2017-05-04 12:09] #10 closed, assigned to nobody

[2017-05-17 10:12] frairon opened #18 "access group table without goka.Persist(...)"
Trying to access group table without adding goka.Persist(..) to DefineGroup panics, which it shouldn't.

[2017-08-13 18:45] db7 opened #30 "Remove snapshot from storage"
The default local storage currently compacts writes with the snapshot package. The reasoning behind that was to reduce the disk traffic for some workloads. However, it seems the snapshot causes the memory usage to be way higher than expected.

The best would be to remove the write-compaction from the default storage, possibly leaving it as an optional wrapper to be passed via WithStorageBuilder().

[2017-08-25 08:25] #30 closed

[2017-09-04 18:30] felixbecker opened #32 "Organizing/modeling Views"
Hi,

I have a question regarding the example-2 which pobpulates an rest api so one can access the number of clicks for a given user-id as key.
How would I implement a list of users with their number of clicks? ( basically a View.all() if this would even make sense ).
Or Would this be something I have to manage in a processor function? Like a slice of users with their id and clicks? Or is there a w

[2017-09-05 19:37] db7 commented on #32
To iterate over all key-value pairs of a table, we use `View.Iterator()` which should be pretty soon merged to the master.

And yes, we do have plans to extend the docs. Have you checked this [blog post](https://tech.lovoo.com/2017/05/23/goka/)? We should probably link it in the README at some point.

[2017-09-06 13:15] felixbecker commented on #32
Hi, thanks for your reply. I think `View.Iterator()` interface would be a great fit.
I saw the blog post and I am looking forward to other posts in that series since it made me curious for more.

[2017-09-06 13:16] #32 closed

[2017-09-08 09:43] SamiHiltunen commented on #32
Hey @felixbecker, we just merged #33. This gives you access to an iterator that iterates over the whole view. Let me know if any issues arise. Example assuming string values:

[code]

[2017-09-18 11:41] frairon opened #35 "a view never becomes ready on an empty topic"
reproduce:
* create empty log-partitioned topic in kafka
* start a view
--> it will be stuck in "stalled" state.

[2017-10-02 13:48] db7 opened #41 "Consume nil messages should be an option"
Currently, nil messages in streams are just ignored. I think it would be better to have a `WithConsumeNil()` option passed to the processor to allow the process callback to receive nil messages.

[2017-10-27 18:05] jimrobinson opened #49 "panic: runtime error: invalid memory address or nil pointer dereference"
I was playing around with the example code given on https://github.com/lovoo/goka/, I wanted to see what would happen with a bunch of separate instances running in parallel, each emitting a message once per second.  Looking over the code it appeared as though what I needed to do was add in a bit of code to make sure each instance had its own LevelDB path, and then add in the bits to emit more than

[2017-10-28 11:52] db7 commented on #49
Good catch! And thanks for the detailed issue. The problem is caused by the ordering of instructions inside `kafka/producer.Close`. I'll create a PR soon.

[2017-11-01 14:30] #49 closed

[2017-11-03 15:32] jimrobinson opened #53 "Question: Accessing a goka.View concurrently?"
I'm looking around in the documentation and I can't spot anything that talks about concurrency and goka.View.  If I've initialized a goka.View may I access it concurrently, or must I either use a mutex or dedicated goka.View per goroutine?

[2017-11-03 15:47] frairon commented on #53
Hi jimrobinson,
you're right the documentation does not mention concurrency issues for accessing the view.
Nevertheless it is safe to query data from Views as the underlying storage takes care of synchronizing the requests.
We have to refine at least the readme or code comments in that regard, so I'll leave the issue open for now.
Thanks for the hint :)

[2017-11-03 15:50] jimrobinson commented on #53
Great, thank you for the quick answer!

[2017-11-24 11:05] db7 opened #55 "Support badgeDB"
When running on SSDs, one may prefer using BadgerDB instead of LevelDB.
https://github.com/dgraph-io/badger

[2017-11-28 14:54] db7 opened #57 "Reduce metrics overhead"
We should review the way we are gathering metrics because they are currently introducing too much overhead. Main issues are:
- we have GetOrRegister calls for every message
- we update meters for every message
- we don't have a unified way how to gather metrics from all components (storage, kafka, and goka)

[2017-12-01 07:42] #57 closed

[2017-12-06 10:47] db7 commented on #55
It turns out that controlling the memory footprint with badger is still quite hard. So we will drop this issue for the moment.

[2017-12-06 10:47] #55 closed

[2017-12-06 16:16] frairon opened #62 "monitoring panics on stateless processor"
Parts of the web component still rely on the processor having a state to display several metrics.

[2017-12-06 17:12] frairon commented on #62
Second issue:
Stateless processors stay in the initial status of "recovering", because the recovering-mechanism is never started, so it's never marked as being recovered.

[2017-12-07 19:08] #62 closed

[2017-12-12 14:49] db7 opened #68 "goka does not work latest bsm/sarama-cluster"
Goka works with bsm/sarama-cluster up to at least version 2ae74ad075d4f088751b8c074f7e88c1020d7687. The latest version does not behave as expected and causes processors and views to crash.

[2017-12-18 16:13] #53 closed

[2017-12-21 13:04] #68 closed

[2018-01-10 13:36] asdine opened #77 "Emit messages with headers"
Since Kafka v0.11, messages can contain headers, it would be nice to be able to specify them when emitting messages and receive them in our processors.
I'm interested in submitting a PR if that's something you'd like to consider adding to goka.

[2018-01-15 10:59] db7 commented on #77
Sure. I'd be happy to review your PR. Also, if you need help to drive through the code, let me know.

[2018-01-31 01:21] burdiyan opened #79 "Provide examples of lookups"
I couldn't find any example or documentation about how to use lookups (`goka.Lookup`, `ctx.Lookup`).

I'm not sure my use case is possible, but I would like to have something similar to Kafka Streams GlobalKTable, which is a state of a topic across ALL it's partitions. Useful for some small set of lookup values that should not be co-partitioned with the main processor's topic.

So for example I ha

[2018-01-31 10:28] burdiyan opened #80 "Add blocking recovered method"
Right now the `Recovered` method on `goka.View` and other objects is returning a `bool`. Although it's helpful for most of the applications being able to block until it's ready.

What do you think about introducing additional method, like `Ready` that would return `<-chan struct{}` instead, so that the caller can block until there is something on the channel?

Behind the scenes, this method could

[2018-01-31 10:33] burdiyan opened #81 "Proposal: Implement message keys as bytes instead of strings"
This is rather a proposal for future versions, as it will be a breaking change.

The thing is that, message keys in Kafka are bytes, so can be not only simple strings, but also complex structures encoded as bytes.

For example we use Debezium (http://debezium.io) for doing Change Data Capture from MySQL databases, and Debezium uses table's primary key as message key for Kafka. It is commonly encod

[2018-02-02 13:23] jbpin commented on #77
@asdine Same here, I'll be happy to give you a hand.

[2018-02-02 15:16] asdine commented on #77
Sure ! I'll work on that this weekend 👍

[2018-02-02 16:04] jbpin opened #82 "HowToX : Is it possible to iterate on View with a subset ?"
Hi,
All is in the title.. I want to iterate on the view for a subset of key as with syndtr/goleveldb
[code]

Can you give me some direction please ? I'm also keen to manage a PR for that if necessary.

[2018-02-04 12:26] db7 commented on #79
Yes, that is possible with "lookup tables".

When creating your processor, add something like `Lookup(Table("some-table"), codec)` to the graph description. Then in the callbacks you can retrieve entries from the table by calling `ctx.Lookup("some-table", "some-key")`.

And you are right. We should have an example for that. I actually have some drafts somewhere, but someone would need to review th

[2018-02-04 12:29] db7 commented on #82
The View iterator would does not provide that. But if you want to implement that, go ahead. You'll find the iterator implementation inside `storage`. You can combine the iterators of each partition (since each partition is a DB) with the multi iterator, also defined in the storage package. Let me know if you need some help.

[2018-02-05 10:32] burdiyan opened #83 "Issues getting value from view"
I'm facing weird issue with views:

I have a topic with 10 partitions, where each message has a string key.

I create a view for this topic, wait until view is recovered, than do `Get` for a key that I'm really sure exists, and I get nil value and nil error.

BUT, the weirdest thing is that when I create an iterator for that view, I see that there is actually a message for this key.

And even afte

[2018-02-05 11:58] burdiyan commented on #83
Well, there is a problem with that when you use the view as lookup. There is no way to pass hasher to the lookup view, and the hasher you pass to the processor, is not propagated to the underlying view.

[2018-02-05 11:58] burdiyan commented on #79
@db7 Sure, I'm happy to review that.

[2018-02-05 12:11] burdiyan commented on #83
I'll create a separate issue for that. But on the other hand let me know you'd like to see contribution for a JVM compatible hasher. I think it's useful if you're using some of the tools from the Kafka ecosystem, like Kafka Connect.

[2018-02-05 12:11] #83 closed

[2018-02-05 12:14] burdiyan opened #84 "Allow passing custom hasher for graph dependencies"
Right now there is no way to pass a custom hasher for views (for example) when you configure `Lookup` edges. So, if your topic you use for view is not partitioned using default Sarama's hasher, it will never find the correct value.

The hasher passed to the processor of the graph is not propagated to the view (which can be the simplest solution, although not always the right one, since you can you

[2018-02-05 12:15] burdiyan commented on #84
Another option can be to enable the way to pass view instances that are preconfigured to the graph.

[2018-02-05 12:55] burdiyan commented on #84
Finally probably the easiest option would be to make `goka.DefaultHasher` a global variable that is a function instead of plain function. This way a user can override the default hasher, because most of the times one would only use one hasher per project.

[2018-02-05 12:59] db7 commented on #84
That is a bug, nice catch.

[This](https://github.com/lovoo/goka/blob/6f74b5204841d4eef91ff06218ee5662702ab71b/processor.go#L101) line should pass the processor hasher as option the the lookup table.

Adding an `EdgeOption` is a nice thing, but it would take more work and I think we should fix the above line anyway. The global variable solution sounds not necessary to me.

[2018-02-06 01:34] burdiyan opened #86 "Questions about join semantics"
In the blog post announcing Goka (https://tech.lovoo.com/2017/05/23/goka/) author says about some usages of Goka at Lovoo and says there'll be future posts about that.

There are no more posts about it yet, but I would like to understand the differences between these two joins mentioned in the post:

- key-wise stream-table joins, e.g., joining user actions with user profiles;
- cross-joins/broadc

[2018-02-06 09:12] db7 commented on #86
When consuming a stream, you can enrich the stream by joining it with tables using `ctx.Join` or `ctx.Lookup`, for example, an event "user-logged-in" arrives; you lookup a device-table using the device id in the user-logged-in event and combine the device information with the event. The result can be emitted downstream or stored in a group table. So this is a Stream-Table join. The callbacks will

[2018-02-06 16:42] jbpin opened #87 "Changing Sarama Version in Emitter"
Is that the only way to change config Version for Sarama producer ?

[code]

[2018-02-07 11:03] db7 commented on #87
Yes, so far that is the only way.

Btw, we tried using 1.0.0 in our test cluster, but had several performance issues. I'd be interested to know if you have performance issues too. The confluent library with Kafka 1.0.0 performed better for us  (there some experimental code in `kafka/confluent` for the consumer side), but we decided to stick to 0.10.2 for now.

[2018-02-07 12:53] db7 commented on #79
@burdiyan please check PR #88.

[2018-02-07 13:11] frairon commented on #35
cannot reproduced, the "stalled" was another bug as it was never reset.

[2018-02-07 13:11] #35 closed

[2018-02-07 13:21] frairon commented on #81
Initially we implemented storing keys as bytes as well, but it turned out that we never had any use case for bytes and tried to avoid the continuous casting of strings for convenience.

I could imagine implementing a key conversion based on codecs. That way each topic could have individual ways of storing and accessing their keys. All functions would then be be passed just an `interface{}` like wi

[2018-02-07 13:32] frairon commented on #80
Almost every time when you want to wait/block for something, you need a timeout. So just returning the channel is only kind of half the way, I think.
And if you do need to add a timeout, then calling the Recovered-Method repeatedly in a go-routine is very little code in addition, like:

[code]

So my suggestion is: either leave the polling entirely to the caller, or include the timeout in the `Rea

[2018-02-07 16:10] burdiyan commented on #80
Yeah, that is actually something that I realized afterwards. I would suggest adding a `context.Context` since that is the recommended approach for canceling stuff, pushed by the community.

I ended up with this implementation, that i use in my projects:

[code]

[2018-02-07 16:13] burdiyan commented on #81
I actually ended up using strings all the time (it turnes out there is a way to configure Kafka Connect inputs to extract the field from the key structure). Basically I also think it's rare to use complex structures for message keys. So I'd rather close this issue.

[2018-02-07 16:13] #81 closed

[2018-02-07 18:57] db7 commented on #83
It would be nice to have the murmur2 hasher available in goka.

[2018-02-07 19:10] #18 closed

[2018-02-07 19:21] db7 commented on #80
I find this solution with `errgroup` pretty elegant.

[2018-02-08 16:21] burdiyan commented on #84
It seems like this line mentioned above is already in master.

On the other hand, am I right assuming that passing `WithHasher` to `NewProcessor` will apply this hasher to all the of the producers on the dependent graph?

If so, I believe this issue can be closed.

[2018-02-08 16:30] burdiyan commented on #86
@db7

To do exactly once counting, that's exactly what I was thinking about (keeping set of ids instead of a counter, at least during some limited timeframe/window).

Thanks a lot for your recommendations, it helped a lot!

[2018-02-08 16:30] #86 closed

[2018-02-08 16:32] burdiyan commented on #79
Closing this issue, as more examples are coming.

[2018-02-08 16:32] #79 closed

[2018-02-08 16:35] burdiyan commented on #83
I'll try to submit a PR as soon as I can. For now, I have it implemented in my `kafkautil` library: https://github.com/burdiyan/kafkautil/blob/master/partitioner.go#L27 for those who are interested.

[2018-02-08 19:23] db7 commented on #84
You are right, the producer created inside the processor should already get the right hasher -- unless one overwrites the producer with `WithProducer` option.

However, the issue you pointed before is still a bug for lookup tables, because there we need the hasher as well. We need the hasher to figure out in which partition the keys are. #91 should resolve the issue for lookup views.

[2018-02-09 14:04] #84 closed

[2018-02-13 12:19] jbpin commented on #87
Hi @db7,

It's good to know, thanks for your feedback. Unfortunately, I didn't start performance testing. But I'll keep you posted. FYI I'm using Confluence 4.0.0 in my test cluster on Kubernetes.

[2018-02-19 15:02] db7 commented on #82
Thanks for contributing. I'll close this issue since your PR #85 resolves it.

[2018-02-19 15:02] #82 closed

[2018-02-19 15:04] jbpin commented on #82
You are welcome.. appreciate.

[2018-02-19 15:11] db7 commented on #87
Should we enable the wiki and add such snippet there?

[2018-02-19 15:30] jbpin commented on #87
I think it will have save me time to have access to this. So yep
definitely.

[2018-02-23 10:07] db7 commented on #87
I'll write some examples in the Wiki for setting the builders for storage, consumers and producers. Meanwhile, I did some cleanup of the builders in PR #92. Perhaps you have the chance to take a look?

Once that PR gets in, your example above should look like:
[code]

[2018-02-24 03:02] whisper-bye opened #93 "Goka is production ready?"
An awesome work!
But goka is production ready? Any company using it in production env?

[2018-02-25 20:13] db7 commented on #93
Lovoo is using it in production for more than one year. The largest systems built with goka are the antispam, the recommendation and the geo-based user search system. If you haven't done so, check this blog post https://tech.lovoo.com/2017/05/23/goka/.

[2018-02-26 01:09] whisper-bye commented on #93
thx!

[2018-02-26 01:09] #93 closed

[2018-02-27 09:45] burdiyan opened #94 "Proposal: Add joins with watermarks"
I found that often we want to be able to ensure that certain part of some topic was processed before starting doing joins with that topic.

For example we join stream A with table B. We know a point in time where topic B would be mostly read. It may not be completely recovered, because messages are constantly coming in. But we know that we need at least the portion before that point in time to be

[2018-02-27 09:57] db7 commented on #94
Currently what the processor does is the following: When it starts it queries the current HWM of all joined tables and save them. The processor then recovers its state and the joined tables up to their saved HWMs. Once that is done, the processor starts consuming the streams. In other words, the processor starts consuming the streams once the joined tables are recovered at least up to the HWM they

[2018-02-27 10:33] burdiyan commented on #94
Oh, if that's how it works, it is exactly what I need. But I was worrying if that's always the case and thought I need to do something else to ensure that. Great! Thanks!

[2018-02-27 10:33] #94 closed

[2018-02-27 11:02] db7 commented on #94
Please report an issue if it does not behave as I described! :-)

[2018-02-27 14:08] db7 commented on #87
The PR is not merged and the notes are in the wiki. Closing this issue.

[2018-02-27 14:08] #87 closed

[2018-02-27 15:23] burdiyan opened #95 "Question: Same topic as input and join"
It seems like right now Goka does not allow to use the same topic as input and join at the same time in the same group.

We have a situation where we have set of common lookups that we want to use to enrich messages from `topic-a` and `topic-b`. We don't want to define separate groups for `topic-a` and `topic-b` because in this case these lookups will end up duplicated in different LevelDBs which

[2018-02-27 20:59] db7 commented on #95
Let me try to understand your problem:
- `topic-a` and `topic-b` are streams (since they are used as input)
- you consume both in the same group
- you have a couple of joined tables (say, `table-1`and `table-2`)

Now you want to additionally have the latest message of `topic-b` when you process the next `topic-a` message. The first thing that comes to me is to store the latest `topic-b` message in

[2018-02-27 21:24] burdiyan commented on #95
The only concern I have about using group table is to avoid creating another topic and duplicate information that is already in the original topic. I think you understood the problem correctly.

I ended up creating a custom “collection” of multiple views for these common lookups, and creating separate groups for topic-a and topic-b. The this custom lookup collection is passed to both callbacks of

[2018-03-02 08:03] db7 commented on #95
Well, it is only the latest message of each key that is stored in the group table, not the complete stream. We have similar solutions in our applications and we have many places where data gets duplicated (or enriched).

After thinking a bit more, IMO the best solution for your problem would be a single processor group, which keeps in its group table the latest message of topic-b. In this case you

[2018-03-02 10:49] burdiyan commented on #95
Thanks, will think more about it!

[2018-03-02 12:46] burdiyan commented on #95
Reopening the issue to resolve further questions :)

@db7 By doing what you suggest, I somehow need to make sure, that `topic-b` is read until HWM at the moment, before starting processing `topic-a`. Otherwise I could process `topic-a` message and not `topic-b` message was processed before, and it's not in the group table yet. Am I right assuming that?

I assume the code would be something like th

[2018-03-05 00:03] burdiyan opened #97 "Initial offset handling"
Docs says that Goka will read from the newest offset for streams (`goka.Input`) and same thing appears in the log when processor starts (something like map[0:-1]).

Otherwise, for a freshly created topic, and for consumer group ID that never existed in this broker, my processor consumes all the messages from the beginning of the topic).

This is just to understand what is the correct behavior and

[2018-03-05 17:18] burdiyan opened #99 "Proposal: Implement windowing semantics"
It would be great if Goka could natively provide primitives for windowed processing. It’s a pretty complex topic, but seems really needed in many stream processing workloads.

Kafka streams handles that by providing timestamp extractors to identify the actual time of the message, and modifying the record keys to be stored in the state store augmenting them with the window bucket.

Another approach

[2018-03-05 23:30] db7 commented on #95
Yes, that is what I was thinking. But I didn't realise you had a requirement of synchronising topic-a with topic-b.

Note that even if you pass topic-b via another processor group (and group table) and try to join the table with topic-a, waiting for the HWM is not sufficient because you don't know when topic-b actually started sending messages.

Perhaps you could try to sync topic-a and topic-b us

[2018-03-05 23:36] db7 commented on #97
As you say, the intention is:
- if the consumer group never committed any offset of a stream, then the stream are read from the newest;
- tables are consumed from the oldest or from the offset stored in the local storage if any.

Can you double check that your consumer group is new? (perhaps try a new consumer group) Otherwise, this is a bug.

[2018-03-05 23:55] db7 commented on #99
This would be awesome! We don't have use cases for that at the moment, but I'm happy to discuss about it.

So `goka.Context` is an interface anyway. Whenever writing some value X, one could wrap that with some window bucket. The timestamp extractor could be either part of the codec or passed via option. One thing to consider is that automatically augmenting the state would make the table unreadabl

[2018-03-06 11:33] burdiyan commented on #99
I'd like to give it a try, but first would like to have it super clear in terms of the design.

The thing is that it seems like there's no way to swap the context implementation, it's somehow hardcoded in the processor here: https://sourcegraph.com/github.com/lovoo/goka/-/blob/processor.go#L643:9

What is the best way you see for someone to create custom context? Pass it as an option? Create somet

[2018-03-06 11:42] burdiyan commented on #97
@db7 just double checked that. New broker, new topic, sent some messages, then started new goka processor with brand new consumer group name, and topic was consumed from the beginning.

[2018-03-06 11:51] db7 commented on #97
Thanks for checking that again. That's a bug, I'll fix it this week.

[2018-03-06 11:55] burdiyan commented on #95
I ended up just duplicating common lookups in two processors, and use them separately. Syncronizing stuff is tricky, and doing it manually within a single group is not event possible. But that's ok.

[2018-03-06 11:55] #95 closed

[2018-03-06 11:55] burdiyan commented on #97
If I really want it to be processed from the beginning (like it does right now) the right way would be to pass custom consumer builder, right?

[2018-03-06 12:01] db7 commented on #99
Nice!

I think it should be easy to wrap the callbacks in `goka.Input(topic, codec, callback)`. One idea would be to create a subpackage, say `timebucket`, then
[code]

And the wrapper would do something like this:
[code]
A similar idea for persist. What do you think?

[2018-03-06 12:50] db7 commented on #97
That would be the idea. We just need to ensure that tables will always be read from the oldest and streams from the value passed in the config.

[2018-03-06 12:55] db7 commented on #99
I guess that was unclear. I'll write a longer example later today.

[2018-03-06 20:17] db7 commented on #99
Ok, so the idea was to create a package, eg, `timebucket`. In this package we wrap the edges of the `GroupGraph` and redefine the `ProcessCallback` to use a more specialized callback. (disclaimer: I havent thought about the window functions, so this is very high level and I don't know what extra functions the context should have)

The table values could be defined like this:

[code]

The context w

[2018-03-07 12:15] #97 closed

[2018-03-07 17:06] andrewmunro opened #101 "Support SSL Encryption"
Hi, looking through the library it looks like it doesn't support encrypted traffic to kafka:

https://docs.confluent.io/current/kafka/authentication_ssl.html

Would this be difficult to implement?

[2018-03-08 08:32] db7 commented on #101
Goka does not implement the communication with Kafka. For that we employ existing libraries. By default, Goka uses [sarama](https://github.com/Shopify/sarama), which is pure Go and does support SSL connections.

As an alternative, you may also use [confluent-kafka-go](https://github.com/confluentinc/confluent-kafka-go), which uses `librdkafka` underneath and should support virtually everything you

[2018-03-08 10:53] burdiyan commented on #97
@db7

When you say this, does it already work like this?

[2018-03-08 11:01] db7 commented on #97
This line in PR #100 takes the config passed to the builder and overwrites it with offsetoldest. That new config is passed to the simple consumer, which is the one reading from trables.

https://github.com/lovoo/goka/pull/100/files#diff-57960cc1ee87fab707306aab51440a91R69

[2018-03-08 12:35] db7 opened #102 "View should have option to fallback to local-only mode"
In some cases, one wants to access the view contents even if connecting to Kafka is not possible or broken. We could add an option to views so that they don't close the databases when an error in the Kafka connection occurs. @sweigert

[2018-03-08 14:49] jbpin opened #103 "Getting error from Emitter"
Hi guys. Its a simple question about how to get Error when using Emit and EmitSync. Using promise it looks like you never treat the returning error

https://github.com/lovoo/goka/blob/b7b94ac132a786822c94040751d1c9955a441ea2/emitter.go#L62-L64

https://github.com/lovoo/goka/blob/b7b94ac132a786822c94040751d1c9955a441ea2/emitter.go#L76-L78

[2018-03-08 14:51] frairon commented on #103
Hi jbpin, absolutely! Nice catch. Will fix it.

[2018-03-08 14:57] frairon commented on #103
Something like this?
https://github.com/lovoo/goka/pull/104

[2018-03-08 19:00] db7 commented on #103
Resolved by #104

[2018-03-08 19:00] #103 closed

[2018-03-09 01:05] burdiyan commented on #99
Just read the thread and from the high level it seems pretty reasonable, although conceptually there’s something I don’t like about the idea of duplicating core functions (goka.Stream and etc.) specifically for doing windowing.

I’ll play a little bit more with Kafka Streams to see how it works internally, because I only was reading code without actually playing with it.

On the other hand, there’

[2018-03-09 08:58] db7 commented on #99
We'd not be duplicating core functions. The functions I suggested should be seen as "builders" which wrap the original code with additional functionality. But other solutions are also possible.

And yes, it would be great to learn from your experience with Kafka Streams.

Just the TTL for records sounds complex in the context of Goka. Of course we can expire entries in the  buckets when events arr

[2018-03-09 09:17] andrewmunro commented on #101
I see that it's possible with sarama, but the question was more around whether goka will let me configure the TLS options passed to sarama?

It may be possible using `goka.WithProducerBuilder()` and `goka.WithConsumerBuilder()`, I'll have a play when I have time. If I get a decent example I'll post back here.

[2018-03-09 14:09] db7 commented on #101
Yes, you can configure sarama with the builders. Check [this snippet](https://github.com/lovoo/goka/wiki/Tips#passing-options-to-sarama) for an example.

[2018-03-09 22:51] burdiyan commented on #99
i could see it being something along these lines (from a very hight level perspective):

1. We could have a new `goka.Edge` that would create a group table. Same thing as `goka.Persist` but something like `goka.Windowed`. Only one of these two would be allowed in a group.

2. `goka.Windowed` would accept the codec, window size and window retention period (TTL). Retention period can be longer than

[2018-03-12 09:42] andrewmunro commented on #101
Perfect this is exactly what I needed. Thanks @db7

[2018-03-12 09:42] #101 closed

[2018-03-13 19:56] db7 commented on #99
That sounds really nice! It is simpler than my proposal above and should also solve your issue with joining two streams, right? Do you have a suggestion how to implement the cleaning up process?

Sorry for the late response.

[2018-03-14 09:54] #102 closed

[2018-03-14 11:31] burdiyan commented on #99
@db7 In Kafka Streams, time is advanced only when new messages are coming.

So basically it could be something like this when we process a new message:

[code]

[2018-03-14 11:33] burdiyan commented on #99
@db7 In Kafka Streams, time is advanced only when new messages are coming.

So basically it could be something like this when we process a new message:

[code]

[2018-03-14 11:50] burdiyan opened #108 "Proposal: Embed Kafka change logger in storage"
Right now, updates to group table's storage are published to Kafka from `goka.Context#setValueForKey`.

It can be useful to embed this functionality directly into storage. This way one could create custom storage implementations that are also backed by Kafka and use it for other purposes, not only for working with group table.

It may be useful when you want to have some custom workload around sto

[2018-03-14 13:07] db7 commented on #99
Ok, that sounds easy to implement. As far as I see, all these changes can be implemented on top of the existing edges. We just have to be careful what edges can be combined together. If `Window` is used, we should not use `Persist`, but also should not use `Join` nor `Lookup` because those are not timed. Perhaps we should also not allow `Loopback` ? So the `Window` will restrict quite a lot how th

[2018-03-14 13:33] burdiyan commented on #108
BTW, Although one could embed emitter into storage and pass it directly to the processor callback, I still think having a generic wrapper for it out of the box can be a good improvement, and also would “free” the context from maintaining the change log.

[2018-03-15 10:25] burdiyan opened #109 "Don't check copartitioning for lookup topics"
Right now Goka checks for copartitioning all topics in the graph. I think it should not check that for lookup topics, since these are materialized completely in all instances of the application.

We have a use case when we want to have 10 partitions for input topic, but being able to do lookups from topics with only 1 partition.

Do you agree, or am I missing some situation where it would not be p

[2018-03-15 13:11] db7 commented on #109
Well, I don't really agree on this one.

The loop topic should be copartitioned. The rationale behind loopback is to let one key "communicate" with another, not to repartition a topic.

Let me give you the typical use case for loopback: There is an event saying A sent a message to B. We want a processor to keep a counter for how many messages a user sent and received. With that we can calculate ra

[2018-03-15 16:01] burdiyan commented on #109
@db7 I totally get what you mean and fully agree on that! But I was talking about lookup, not loopback :)

[2018-03-15 19:16] db7 commented on #109
@burdiyan Oh, I see... sorry for that :$

I fully agree on your point too, Lookup tables can have any number of partitions. And I see that the current implementation of processor does not allow that. This is definitely a bug.

[2018-03-16 14:00] #109 closed

[2018-03-16 14:01] db7 commented on #109
This should be fixed now.

[2018-03-20 09:29] edgar86cru opened #112 "How to instantiate two views that read the same table??"
I create a view that reads from table test:
[code]

When I create the second view I get an error (the instance of the two views are in different projects):
[code]

Error:
[code]

Can anyone suggest me how to do that??

Thank you

[2018-03-20 09:42] SamiHiltunen commented on #112
Hey,

The problem here is that both of the views are trying to store their local caches in the same path, which by default for views is `/tmp/goka/view/<group>`. You can pass a StorageBuilder with a different path when creating the views:

[code]

Let me know if this clears it up.

[2018-03-20 10:13] edgar86cru commented on #112
I tried your solution and it works like a charm, thank you very much ;)

[2018-03-20 10:20] #112 closed

[2018-03-20 15:58] burdiyan opened #113 "Failing view was not added"
This is really weird thing that started happening without any reason.

We have one processor that has 1 input, 1 join and 6 lookup edges in the group graph.

When processor starts, there's no error in the log and everything seems to be working fine. There are messages for corresponding views being opened and so on.

But for some reason consumer is not consuming any messages.

When we stop a proces

[2018-03-20 19:58] db7 commented on #113
That is weird. The table topics exist, have partitions, but no data, right?

Could it be that the processor is not consuming any message from the input stream because it's waiting the views to recover? I think that we handle empty topics.

Have you tried adding the monitoring interface to check what the partitions are doing? That is useful sometimes (https://github.com/lovoo/goka/tree/master/examp

[2018-03-20 23:19] burdiyan commented on #113
There's no data only on my local machine, but in our dev environment there's actually constant updates for the input topic.

The most weird thing is that it was working fine initially, and then after some hours started behaving like this. I then tried restart the application, kafka, zookeeper, change group name, and etc. and nothing helps. It just stuck without any noticeable reason.

Regarding mo

[2018-03-21 05:55] db7 commented on #113
So the problem happens in your local machine as well as in your dev environment?
I think you'll need to trace the application to find this one out.

And yes, we need to add the lookup tables to the monitoring, sorry for the useless pointer. I was just wondering if all joined and lookup tables were recovered. Perhaps you can manually call the processor's Stats() and log.Printf the state of all part

[2018-03-21 09:54] burdiyan commented on #113
@db7 Yes, the problem happens on my machine with or without any data, and in our dev environment where all mentioned topics have data.

I tried to print processor's stats, and at some point lookup partition get stalled:

[code]

Some partitions get stalled right 1 record before HWM.

[2018-03-21 10:15] db7 commented on #113
Partition 9 is indeed stalled, but it is recovered. Are there records above 7109 in the Kafka topic?

[2018-03-21 10:32] burdiyan commented on #113
@db7 Yes, right now the latest offset of this partition is 7293. This topic is updated fairly often.

[2018-03-26 18:57] db7 commented on #113
@burdiyan any progress with this problem? could you identify whether it occurs inside goka or not?

If this is still a problem, can you come up with a minimal example where the problem occurs? I could then give a try.

[2018-03-31 14:58] shubham7saxena opened #119 "unable to get goka running with the following error."
Error creating processor: topic group-1-table has 50 partitions instead of 400 exit status 1

I see that this configuration comes from sarama. any particular reason I could be facing this.

[2018-04-01 11:19] db7 commented on #119
The error is saying that your group-table has only 50 partitions (perhaps the default of your Kafka configuration if you have `auto.create.topics.enable=true`?) instead of the 400 partitions that your input streams have. Perhaps we should make the error message a bit more informative.

In goka, the input topics, joined tables and group tables have to have the same number of partitions (be copartit

[2018-04-03 11:02] burdiyan commented on #113
It seems like this behavior was something weird mix of different things with our Kafka Setup, old version of Goka, network issues and custom Sarama configs. Will reopen if it will happen again.

[2018-04-03 11:02] #113 closed

[2018-04-03 13:55] andrewmunro commented on #99
@db7 Is there any update on this? I'd love to add time based windowing to my application but am unsure on how to implement it myself :(

[2018-04-03 16:18] burdiyan commented on #99
@andrewmunro currently the easiest approach I would recommend is to use a group table, create a record there that would manage all the windowing.

For example you could have something like:

[code]

Then on each incoming record from your input topic, you would retrieve `WindowedRecord` from the group table store (or initialize one if it's not there), then identify the window based on epoch time of

[2018-04-04 16:24] andrewmunro commented on #99
@burdiyan That kind of makes sense. So here's an example.

Say I have an incoming stream of transactions from customers. I want to aggregate the amount of money a customer has spent with us in different time windows, such as this week, this month, this year (maybe too much data to store).

So my input model would look like this:

[code]
And my group model looks like this:

[code]
And finally, my a

[2018-04-04 16:55] db7 commented on #99
@andrewmunro you'll also need to keep track of what is the current month you are considering using a timestamp and then you'd have to reset the aggregation of the month once the month is over. Something like this:

[code]

Also note that you don't need to keep the customer ID in your state since it will be the same as the key.

[2018-04-04 17:40] db7 commented on #99
Do you mean when a month is over and the customer object is not yet updated? You can check what the current month is when a service reads the data from the view. What we usually do is to add methods to the type stored in the group table. Something like this:

[code]

[2018-04-04 17:59] db7 opened #120 "Proposal: replace Start() and Stop() with Run(context.Context)"
Currently the `Start()` method of processors and views use `errgroup` to create goroutines for each partition and passes a `context.Context` to them. The `Stop()` method simply cancels the context to stop all goroutines.

I think it would be nice to use the same mechanism to control multiple processors and views running on the same program. For that I'd propose to replace the `Start()` and `Stop()

[2018-04-04 18:02] db7 commented on #119
@shubham7saxena any updates on this issue?

[2018-04-09 21:39] MahlerFive opened #123 "How to create table based on a different key"
I'm new to goka and trying to figure out the best way to create a table based on a different key than the events I'm consuming.

For example, assume I'm consuming events that look like:
[code]

The key on these events is the `client_id`. What I want to do is consume these events and create a table that tracks the latest timestamp by `business_id`. So in that case, my new key would be `business_id`

[2018-04-10 10:46] db7 commented on #123
You are right. Solution 1 is to have 2 processors and solution 2 is to loop the message to the right key before changing that table.

Solution 1 is safer, but you'll have to write more code.

Solution 2 would use `Loopback`. You just have to be careful if you'd like to process multiple topics. You'd have to do some extra work to pass both types (the original stream and the new stream) into the loo

[2018-04-10 18:31] MahlerFive commented on #123
So my case is actually a bit more complicated in that I want to consume 2+ input topics, each of which use a different key, and which have different numbers of partitions, but I want all of these to contribute to the group table. In that case it sounds like using `Loopback` is not possible or a lot harder.

What I'm trying to understand is how best to accomplish what I want. I was originally just

[2018-04-10 18:58] db7 commented on #123
Right.

Yes. Input streams must have the same number of partitions and use the same key space. If keys are user_id, then all events for the same user_id end up in the same partition and are processed in the same processor instance.

The `Loopback` solution above is a kind of a hack. The clean way how to do that is with solution 1, where the input streams are first rekeyed and repartitioned by a pr

[2018-04-10 19:38] MahlerFive commented on #123
Thanks for your help so far!

If I was to do the preprocessing with `goka` instead of using sarama like I was planning, what would be the proper 'goka` way to do this? Just create a separate graph for each input topic, define an output topic for each, then have a final graph using those rekeyed topics as input?

something like:

[code]

[2018-04-11 09:25] db7 commented on #123
Yes, that looks good.

Now, you have to create 3 processors, one for each processor group. Goka does not provide any tool to make this easier yet. So I'd do something like this:

[code]

You also need to store all these processors in a slice and stop them if SIGINT/SIGTERM arrives.

If you have suggestions how this could be simpler, please let us know. We are actually planning to replace the `Star

[2018-04-13 02:39] #123 closed

[2018-04-23 14:16] andrewmunro opened #124 "Question: How to implement compound keys (segment my data)"
Kafka is optimised around storing small messages. I'm currently using goka (very effectively) to aggregate a stream of transactions, however I'm concerned that the amount of data I store in my compacted topic will grow larger and larger if I start aggregating historical data too.

A working example:

I have a stream of transactions for users spending money.
I'm aggregating how much a user spends o

[2018-04-23 14:44] db7 commented on #124
Awesome! Happy to hear you're managed to try goka.

There is no automatic way how aggregation (we are still not sure how to implement a time window). But you could do the following:
- When a message is received, the processor calls `ctx.Loopback("useridX.weekY", message)`.
- Add to `DefineGroup` a `Loop` edge with a callback to handle it.

You can also store in the original key `user_idX` some boo

[2018-04-24 16:11] andrewmunro commented on #124
@db7 Thanks for the prompt response, I think I originally discounted using loopback due to it requiring the same type, but on second thoughts it's not the end of the world using the structure partially.

[2018-04-24 16:11] #124 closed

[2018-04-30 09:46] db7 commented on #120
Hey guys, what do you think of this change in the interface? Would it make the library easier to us? @SamiHiltunen @j0hnsmith @frairon @burdiyan @andrewmunro

I'd like to either get create a PR for this or close the ticket.

(cc: @edganiukov we are now using `errgroup` and `context` libraries to do most of the goroutine management. It took long, but it's now implemented.)

[2018-04-30 09:55] SamiHiltunen commented on #120
I support this. It would simplify the lifecycle management.

[2018-04-30 09:56] j0hnsmith commented on #120
I like the idea of using a single context to stop multiple processors.

I actually have some time this week, I'll take a look maybe tomorrow if there's a general 👍

[2018-04-30 10:47] andrewmunro commented on #120
I like it. Looks a lot cleaner than `p1.stop(), p2.stop()` etc etc. Also means there's less danger in you forgetting to stop one of your emitters/processors/views gracefully.

I wonder if you could even abstract this further for beginners using the framework, maybe that patterns module you were talking about elsewhere... 🤔

[2018-04-30 10:47] burdiyan commented on #120
I actually used to wrap Start and Stop methods exactly like this using context.Context. But I found out that when you want to control the order in which multiple processors should stop, then you'll have a problem.

So if you have processor A and B, and you need to stop B before A using a single context doesn't give you that control.

I guess that's why standard library have io.Closer interface tha

[2018-04-30 11:59] edganiukov commented on #120
@burdiyan if I am not mistaken, you can have such logic with context as well - using either different context for each processor or child-parent context pattern (child context will be canceled after parent).

[2018-04-30 12:02] db7 commented on #120
@burdiyan that is an interesting point! AFAIK, we don't have that issue, but I can imagine having it at some point.  So either we require the user to apply child contexts or we provide a`StartStopper` wrapper as described in the issue. Perhaps I just need a better name for it. I will think of something and propose a PR.

Thanks for the quick feedback from everybody! That's awesome.

[2018-04-30 16:15] frairon opened #125 "Running processor without prior topics fails"
On an empty kafka, running a processor fails, because the copartioning cannot detect a partition count to create the missing topics.

We should have a processor option defining the default partition count for that case.

[2018-04-30 16:17] frairon opened #126 "zookeeper address with trailing "/" fails"
Running a processor with a trailing "/" fails, because the node cannot be found in zookeeper.
Need some double-slash-elimination probably

[2018-04-30 17:26] db7 commented on #125
But that will only work if the processor can create the topic. And for that we still need the zookeeper-based topic manager.

[2018-05-01 19:10] db7 commented on #120
PR #128 introduce `Runset` objects to start and stop sets of processors/views together. It internally creates a context and uses error groups to start goroutines.

Processors and views are "runnables" because they implement `Run(context.Context) error` with #127. A new function `goka.Start()` can start multiple runnables  together, returning a Runset. For example, `rs := goka.Start(proc1, proc2, v

[2018-05-15 13:15] db7 commented on #120
The change has been implemented and merged.
The helper wrapper seems to be an overkill and I closed the PR for now.

Thanks for the feedback from everybody.

[2018-05-15 13:15] #120 closed

[2018-05-17 18:52] StevenJohnston opened #129 "Prevent offset commit in case of panic"
Is it possible to prevent a consumer from committing offset after it has received a record? In my callback function I would like to error out so that if the consumer fails, a future consumer will pick up the record it was on.

[2018-05-18 12:46] frairon commented on #129
If I understand you correctly, you want to ignore a message but continue with the rest and let the "failed message" be consumed by another consumer.
If that is your case, then I'd say accomplishing it is not straight-forward. In Kafka, messages are considered sequential with increasing offsets, i.e. if you do not acknowledge a message, you will not get the next one. If you do want to ignore a mess

[2018-05-18 15:17] StevenJohnston commented on #129
I tried ctx.Fail and let my service error out. After replacing it with a new instance it continued on the next message. It appears my callback is triggering a defer instantiated right before it was called. This defer ensures the offset is committed.

https://github.com/lovoo/goka/blob/4037dcdd06cce190f49bfe676579075396eb123d/processor.go#L723-L725
https://github.com/lovoo/goka/blob/be1af5be4bdc8d6

[2018-05-19 11:28] db7 commented on #129
That is an issue, @StevenJohnston. Thanks for reporting. I'll come up with a test case and a fix as soon as possible.

[2018-05-22 09:29] db7 commented on #129
@StevenJohnston, we merged a fix with PR #130.

[2018-05-22 19:17] #129 closed

[2018-05-24 05:24] MahlerFive opened #131 "Processor failures: expected rebalance OK but received rebalance error"
I'm running into an issue where upon starting up some goka processors, I get an error that looks like this:

It appears to be coming from here:
https://github.com/lovoo/goka/blob/b49460590708a8a0fe3f64840926095a85e7dc8f/kafka/group_consumer.go#L102

I've noticed it never happens when I run it locally, happens sometimes when I run it in our sandbox environment, and happens consistently in our produ

[2018-05-24 08:04] db7 commented on #131
Glad to hear you guys are using goka in production.

What version of sarama and sarama-cluster are you using? sarama-cluster changed their interface in the past and broke goka, so that can be happening again.

[2018-05-24 13:02] MahlerFive commented on #131
We're using the latest on master branch for sarama-cluster. Commit is `d98592677c0aa08d8aafb882d344fb461682b722`.

[2018-05-24 13:04] MahlerFive commented on #131
@db7 is there a known good version of sarama-cluster that I could try to rule that out?

[2018-05-24 13:07] MahlerFive commented on #131
Also I'm using goka from commit `d58a3143ca343a51a72459a6de8ad138c219c546`, just before the Processor.Run(context) change was added.

[2018-05-24 13:17] SamiHiltunen commented on #131
We are currently using sarama-cluster `24016d206c730276dfb58f802999066f2f4bfeaa` which should be good with the revision of Goka you are running. Could you try with the given revision of sarama-cluster and report back whether you still have the same issue?

[2018-05-24 14:47] MahlerFive commented on #131
Downgraded sarama-cluster to `24016d206c730276dfb58f802999066f2f4bfeaa` as suggested, but still seeing the same behaviour.

[2018-05-24 17:09] MahlerFive commented on #131
I put some debug prints in the sarama-cluster code and found out the errors happens during rebalance. The error is:

I think this may have to do with my running 3 processors that all use the same group name. One processor reads from topic A and outputs a rekeyed version to topic Aprime. The second processor reads from topic B and outputs a rekeyed version to topic Bprime. The final processor reads

[2018-05-24 18:33] db7 commented on #131
That is a problem. When you call `DefineGroup(groupName, ...)` you are describing how the processor group `groupName` will behave and which topics instances of this group will consume. If your processors are not instances of the same group, they must have different names.

From what you described, it sounds like these are indeed different processor groups and should get unique names. Can you try r

[2018-05-24 20:39] MahlerFive commented on #131
I tried changing the group names for the 2 rekeyers, so now all 3 group names are unique. Unfortunately I'm still seeing the same behaviour.

[2018-05-25 00:54] MahlerFive commented on #131
So, in addition to using separate group names, I also put a 1 minute delay between starting the processors so that the rebalancing can finish before starting the next. Still running into this issue. I'm not really sure what else to try or investigate.

[2018-05-25 08:14] db7 commented on #131
The rebalancing matters for processor instances in the same group. From your description it seems that you have one running instance for each of these 3 processor groups.

What Kafka version are you running?

[2018-05-25 13:37] MahlerFive commented on #131
In sandbox I'm only running one instance, but in production I'm running two. I don't think the issue has to do with multiple instances running, since it happens in the sandbox environment sometimes too. I'm pretty sure the number of partitions is what increases the chances of it occurring. I will decrease the instances to 1 in production to see if that theory holds true.

I'm running Kafka 0.10.2.

[2018-05-25 13:45] db7 commented on #131
Ok, that looks normal (as long as `group` variable is different for the 3 groups). We are also using Kafka `0.10.2`. Most of our topics have 20 partitions.

Are you also using this Kafka cluster with other tools/applications at the moment or this set up only for this application?

[2018-05-25 14:30] MahlerFive commented on #131
Yes, the group variable is different for each one.

We have a lot of consumers/producers using Kafka (some Go using Sarama/Sarama-cluster, and some in Scala), this is our first one using goka in production, though I've tested a simpler application with goka in sandbox before without issue. The simpler app just had a single processor with one input and persisted group table.

[2018-05-26 22:28] MahlerFive commented on #131
An update on this issue. Apparently the combination of changing the group names for each processor AND adding a sleep between starting each processor did work. I thought it didn't work because the service was still dying, but that was due to a separate issue (out of memory).
I'm still not certain why a sleep was required between processors starting if they were using separate group names though.

[2018-05-27 20:03] db7 commented on #131
It would be great if you'd let us know once you find it out... adding a sleep between starting each processor shouldn't be necessary even if they run in the same program. (Each processor creates its own sarama client as long as you don't overwrite the consumer builder option)

[2018-05-28 16:57] StevenJohnston opened #132 "How to initialize consumer group at offset start."
I've noticed that a new consumer group does not consumer earlier messages. Its nice that a consumer group will retrieve missed messages while it was down, but this requires that the consumer group was connected at an earlier time. Is it possible that when a new group is defined, it starts at the first message in a topic?

[2018-05-28 18:01] db7 commented on #132
Yes, that is possible. You need to configure the consumer builder. Something like this should do the job:
[code]

[2018-05-28 19:15] StevenJohnston commented on #132
Thank you.
[code]

[2018-05-28 19:15] #132 closed

[2018-05-29 13:37] MahlerFive commented on #131
This bug has reappeared again. Even with the different group names and sleeps between starting the processors. From looking at what's going on with the topics involved, both rekeyer processors (the ones with a single input / single output) seem to be starting up fine and rekeying events (producing to the output topics), but nothing is getting produced to the group table. It seems to happen 30 seco

[2018-05-29 15:50] MahlerFive commented on #131
Added some more debugging in `sarama-cluster` and revealed some things.

During the rebalance, `joinGroup` is called on the sarama-cluster consumer which then calls `broker.joinGroup()` which returns an i/o timeout error:

`read tcp 192.168.254.154:60031->10.16.210.26:9092: i/o timeout`

I'm not certain whether this is a goka issue, sarama-cluster issue, or something up with our kafka cluster. I'm

[2018-05-29 18:16] db7 commented on #131
To dig a bit further in the problem, you could start both rekeyer processors in one program and after they run, you could start another program that only consume (and drop) the rekeyed messages using sarama-cluster only but with the same group name you used in goka processor. Then you could observe the rebalancing notifications. I think that would help to see whether the problem also appears witho

[2018-06-29 08:44] burdiyan opened #137 "Proposal: Don't validate co-partitioning if there's no joins"
It seems like there's no big need to validate co-partitioning for topologies that has no join topics.

For example I have a graph with only inputs (multiple), and these inputs have different number of partition, which is OK as there's not stateful logic around it. But Goka complains at startup that topics doesn't have the same number of partitions.

[2018-06-29 09:10] db7 commented on #137
Yes, we don't have use cases, but I agree with you. Still you'll need to decide how many partitions (goroutines) the processor should have. The check for the partitions is done [here](https://github.com/lovoo/goka/blob/master/processor.go#L121).

[2018-06-29 09:20] db7 commented on #137
I think the easiest way how to implement this would be if you look for the input topic with most partitions in `prepareTopics()` and use that as the number of partitions in the processor. If you do otherwise, you'll also need to adapt the main processor loop so that it applies `%` operation on the partition of the incoming messages.

[2018-06-29 09:30] burdiyan commented on #137
I was thinking about changing `copartitioned` method to be like this:

[code]

So if there's no join topics, this method would return `nil`, and `ensureCopartitioned` would have nothing to work with.

But from what you're saying seems like that wouldn't be enough, right?

[2018-06-29 09:56] db7 commented on #137
This piece of code is important:
[code]
It returns the number of partitions that the processor will have. Here you should do something like
if "no group table and no joins", then pick npar form the topic with most partitions, otherwise call `ensureCopartitioned`.

[2018-06-29 10:32] burdiyan commented on #137
I started implementing that, but facing multiple edge cases and many tests started to fail. Will dig into that later. For now, working this limitation around by creating multiple processors in our systems.

[2018-06-29 10:35] db7 commented on #137
Ok. If you like, you can tell me the branch with your changes and I can try later to understand what is going on.

[2018-07-18 09:15] edgar86cru opened #138 "Question: How to create tables with log compaction"
Hi, I try to follow the tips on the wiki about how to create tables with log compaction.
I'm using the method "Using TopicManager to create table topics" but when I go to check the topic level configuration my table doesn't have the conf "cleanup.policy=compact".
I saw that the tips in the wiki were updated the last time on 25th of February, are they still valid??
Thank you
Edoardo

[2018-07-19 08:51] SamiHiltunen commented on #138
Hey, could it be that the topic already existed before you attempted to create it using TopicManager? TopicManager only creates a topic with the correct configuration if it doesn't already exist. It doesn't reconfigure an existing topic.

If you have automatic topic creation (`auto.create.topics.enable=true`) on in Kafka, it could be that the topic was created with the default configuration of Kaf

[2018-07-27 11:59] SamiHiltunen commented on #138
Good to hear that the problem was found, I'll close the ticket in this case.

[2018-07-27 11:59] #138 closed

[2018-08-05 19:13] db7 commented on #119
I'm assuming this problem is not relevant anymore. Please reopen if needed.

[2018-08-05 19:13] #119 closed

[2018-08-15 19:11] frairon opened #140 "review errors to fail on"
When loading a view and kafka gives the message
"response did not contain all the expected topic/partition blocks",
goka should tolerate the message and just keep going.
According to the linked issue, this is normal behavior.

https://github.com/Shopify/sarama/issues/1087

[2018-08-15 19:12] frairon opened #141 "error on recovering view does not restart"
Still the issue when we get an error from kafka while recovering a view, it is not shutting down but simply blocking

[2018-08-16 07:50] frairon commented on #141
bug is in another project

[2018-08-16 07:50] #141 closed

[2018-08-16 13:54] frairon commented on #140
error fixed in new sarama version

[2018-08-16 13:54] #140 closed

[2018-09-04 10:07] #125 closed

[2018-09-17 05:45] scarbo87 opened #143 "consistency views and processors at N-nodes"
Hi, how do you achieve consistency views and processors at  N-nodes? Views can consume messages from the topic-tables at different rates.

[2018-09-18 12:48] db7 commented on #143
Each processors in the same processor group can only modify some partitions in the group table, so there is no concurrency between them.

Views consume the group tables at different rates, yes. They are eventually consistent.

[2018-09-18 13:15] scarbo87 commented on #143
@db7, thanks for the answer.
if one of the view is slowly consuming from kafka, then reading from it will not be consistent? How do you solve this problem in production?

[2018-09-18 13:27] db7 commented on #143
So far we don't expose the record timestamp of Kafka in the views. Would that be a better solution? @SamiHiltunen

[2018-09-18 14:00] scarbo87 commented on #143
Should the user receive version/timestamp label from the processor and store it?
@db7

[2018-09-18 20:42] scarbo87 commented on #143
@db7, WOW, thank you very much for your answer!

[2018-09-19 10:19] db7 commented on #131
I'll close this issue assuming it's done. Please reopen if you still have this issue.

[2018-09-19 10:19] #131 closed

[2018-09-19 10:20] db7 commented on #143
@scarbo87 then I'm closing this issue. If you still have problems with that please reopen it.

[2018-09-19 10:20] #143 closed

[2018-09-27 15:46] frairon opened #145 "Improve tester implementation"
The current implementation of goka tester has some limitations:
* only one processor can be tested
* lookups and joins are not supported
* state codec has to be registered manually

In branch `tester-refactoring` I started writing a new tester implementation.
The new tester features
* multiple processor tests
* lookups, joins and loop fully working
* group graph detection, so every topic knows its

[2018-10-13 17:01] annymsMthd commented on #77
We are starting to use goka and this would be a nice addition that would provide a way to trace. Any word on this? If you guys have an idea on how this should be implemented I could take a stab at it as well.

[2018-10-22 18:45] db7 commented on #77
@annymsMthd sorry for the delayed response. PRs are very welcome.

Since we don't use message headers, perhaps you could quickly explain me how you'd like have it available in your processor callbacks, and then I can hint you the places where to add the pieces of code you'd need.

A processor callback looks like this `func(ctx goka.Context, m interface{})`. The message payload is `m`. Other metada

[2018-10-23 09:00] jbpin commented on #77
Hello @db7. good to hear from you on this subject.
As mentioned in the doc of Kafka, [Record](https://kafka.apache.org/documentation/#record) can have headers. Headers are key-value (string, []byte).

So what I can see it's having a new map for Headers in context and modifying emit to add those headers during the emit if present. and also a second Emit func that allow for a fourth parameter `Emit(

[2018-10-23 09:20] db7 commented on #77
Ok, thanks for the suggestions. I think it would make sense to add the decoding of the header value in the codec. I could imagine using the headers as follows:

[code]

The codec would be extended to look like this:

[code]

To avoid having to implement `EncodeHeader` and `DecodeHeader` every time, we can provide some header codecs to be added to any codec:

[code]

That would require to add to al

[2018-10-23 09:37] j0hnsmith commented on #77
Also a way to get all the headers (raw) could be useful, eg

[code]

[2018-10-23 10:04] db7 commented on #77
A complete map is a good idea, but do you really want to have that always as raw bytes? Wouldn't it be sufficient to use a header bytes codec (which does not do anything)?

[2018-10-23 10:10] j0hnsmith commented on #77
Ahh, yeah, missed that bit. 👍

[2018-10-26 16:00] burdiyan opened #151 "Proposal: Provide context.Context via goka.Context"
Oftentimes during message processing firing another IO operation is needed (like querying a remote database, or executing remote HTTP call, or similar). Normally these IO operation would accept `context.Context` for cancellation.

It would be great if Goka could propagate the context passed to processor's `Run` method to the actual callback.

One of the way to do it in a backward-compatible way co

[2018-10-26 21:54] annymsMthd opened #152 "Updates broke go get"
using go modules:

unknown import path "github.com/db7/kazoo-go": cannot find module providing package github.com/db7/kazoo-go

You guys should probably do another github release with the current changes to fix this.

[2018-10-26 21:54] annymsMthd commented on #152
@db7 just a heads up

[2018-10-28 19:12] db7 commented on #152
Thanks for reporting. I'll fix that tomorrow.

[2018-10-29 09:36] db7 commented on #152
Have you tried updating the goka repo?

[2018-10-29 09:50] #126 closed

[2018-10-29 17:22] dan-compton opened #154 "Removal of db7/kazoo-go and subsequent repo deletion breaks previous builds"
[This](https://github.com/lovoo/goka/commit/abc051cf0cc83b259af7f5caad425257f9bca510#diff-5635ef3040b9420de577e65fdfff1083) change made by contributor @db7 and the subsequent removal of github.com/db7/kazoo-go repository breaks glide/dep vendored versions of lovoo/goka due to inability to fetch db7/kazoo-go.  Broken version below:

[code]
API changes likely make upgrading difficult.

[2018-10-29 17:32] dan-compton commented on #152
@db7 vendored users are suffering here as well.  https://github.com/lovoo/goka/issues/154

[2018-10-29 18:55] dan-compton commented on #154
closing this because I've fixed it with a glide mirror

[2018-10-29 18:55] #154 closed

[2018-10-29 18:58] db7 commented on #154
@dan-compton thanks for reporting. The changes that were in db7/kazoo-go are merged upstream, so I updated goka accordingly to use that repo instead. I probably shouldn't have delete my fork though. I reforked the repo in the hope that your build process passes again. Could you check that please? Or if you have another suggestion, let me know.

[2018-10-29 19:00] db7 commented on #152
@annymsMthd could you check whether updating fixes your problem? I also reforked the `db7/kazoo-go` in the hope that old build don't fail.

[2018-10-30 10:49] db7 opened #156 "Proposal: preload and hotstandby loading policies"
**Problem**: In processors with large state, scaling the number of processor instances up or down takes long because the group table partitions have to be loaded from Kafka into the local storage. While a processor instance is recovering the partitions, its assigned partitions are not processed, creating sometime a high lag.

**Proposal**: Create different loading policies to mitigate this problem

[2018-10-31 16:16] dan-compton commented on #154
@db7 We're sticking with the fork + glide mirror until we update goka as the relevant changes to tooling have already been merged internally.  Thanks though.  As for others, it will work fine as long as the commit sha is the same.

[2018-11-02 09:08] burdiyan commented on #151
You're right about the conflict in the method name! If backward compatibility is not an issue, `Value` could be renamed. Although I think we could do something similar to what `net/http` did for `Request`:

1. Add `Context` method to `goka.Context`. Calling this method would return `context.Context` passed to the processor's `Run` method.
2. Add `WithContext` method to `goka.Context`. It would acc

[2018-11-02 09:09] burdiyan commented on #151
I forgot to mention that step 0 would be to insert processor's `context.Context` inside `goka.Context`, that further would be available with `Context()` method on `goka.Context`.

[2018-11-04 13:12] db7 commented on #151
Steps 0 and 1 are very easy, I can quickly build them. But I am not very sure how one would use the `WithContext` method. Can you give an example?

Looking forward, after closing this ticket with a non-destructive solution, I'd suggest we start discussing how the callback interface could be redesigned. We can plan an API breaking release if we pack enough changes together, for example, #108.

[2018-11-05 11:36] burdiyan commented on #151
`WithContext` could be useful if you isolate the logic in some sort of Service struct or separate function.

For example I commonly implement the handling in some sort of service type, and then wrap it inside `DefineGroup` call.

Here is a rough example:

[code]

[2018-11-05 11:37] burdiyan commented on #151
Totally agree on that. We could group enough breaking changes before doing them.

[2018-11-07 05:17] annymsMthd commented on #152
Looks good.

[2018-11-14 05:14] CatalystG opened #159 "Question: Scanning a Joined Topic"
I'm trying to see if a particular pattern would work with Goka or if it would be better done in a separate service with a more traditional database. I was wondering if you had any experience with trying to solve a problem like this with Kafka and Goka:

There are two topics, topic-1 and topic-2.

- topic-1 is a large group table, something like users, keyed off a userID with a value that contains

[2018-11-16 21:16] db7 commented on #159
@CatalystG you are right, there is no direct way how to implement that. Here are some thoughts.

If you *could* join both tables using only the userID, then you could subscribe for the table updates as if they were streams and join them in a new group table. That would update the joined topic whenever any of the input tables is changed.

Since you cannot join the tables only using the userID, you

[2018-11-17 19:14] CatalystG commented on #159
Thanks a lot, that is a big help. Using views as inputs to processors and using views directly with callbacks are interesting patterns I hadn't thought of that might help with some other things I was looking at.

Knowing there isn't a clean way to have it work partitioned and scalable means it's probably worth it to explore other options to at least generate the fanned out UserId->Settings topic t

[2018-12-06 17:00] yuhui-lin opened #160 "Proposal: add tracing support"
Hey, I tried to add tracing for sarama and LevelDB using these two libraries:
https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/contrib/Shopify/sarama
https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/contrib/syndtr/goleveldb/leveldb

but I failed to do so because producer/consumer/leveldb.DB are not exposed directly.
#77 adding header to goka context may be helpful but we still can't get traces o

[2018-12-06 17:26] yuhui-lin opened #161 "aggregate table topics"
Hey, I am trying to re-partition and aggregate a table topic using goka. but it seems that it's difficult to do so.

by looking at kafka stream, they mentioned `Old values are necessary for implementing aggregate functions.` they seems to materialize the entire input table before running the callback.
https://issues.apache.org/jira/browse/KAFKA-2984

to make it easier to do aggregation, it may be

[2018-12-09 12:31] db7 commented on #160
The storage is an interface, so you should be able to simply replace it with your extended version of the storage. Take a look in the [builders in `storage` subpackage](https://github.com/lovoo/goka/blob/21b04ba791d28c32ee85e8ef1682aea85d120b8c/storage/builders.go#L30). The same applies to the Sarama consumer and producer (`kafka` package).

If possible I'd suggest to introduce the tracing via bui

[2018-12-09 12:39] db7 commented on #161
I think I didn't understand your use case, but the first thing that comes to my mind is that you can consume the table as a stream topic via normal input edge and store the aggregation in the group table, something like,
[code]

Would that help you? If not, can you give us some more details?

[2018-12-09 12:43] db7 commented on #159
@CatalystG, I'll close this ticket. From your previous reply, I understood that your issue has been answered. If not, please reopen the ticket!

[2018-12-09 12:43] #159 closed

[2018-12-10 18:59] yuhui-lin commented on #160
@db7 thanks for the information. I didn't realize they are all interfaces and I'll look into it. I guess it would still make sense if goka provides open-tracing support out of box.

[2018-12-10 19:49] yuhui-lin commented on #161
yes, this should help with aggregating table topic.
I have another use case: I want to inner-join two table topics with the same key giving a join function `joinFunc(row1, row2)`.  these two tables are big and I may not want to create views.
I think one option is creating two inputs on each topic. I'll have to look up the other table in each input callback function. but goka doesn't seem to allow

[2018-12-11 00:31] mhaitjema opened #163 "Proposal: support static partitioning"
I know the ability to automatically rebalance is a key selling point of goka but if one had to run a goka processor with statically assigned partitions, what would be the easiest way to accomplish that? My first thought would be to generate an assignment notification and provide that groupConsumer but I don't think that will work since the assignment has to actually come from the group coordinator

[2018-12-12 19:09] db7 commented on #163
@mhaitjema I think the decision about the partitions is done inside sarama-cluster's [balancer](https://github.com/bsm/sarama-cluster/blob/b92bef2341de4501b89731753e484c0ec993777b/balancer.go#L161).

Possibly, if you give deterministic clientIDs to your processor instances, you'll get a deterministic partitioning.

The strategy used by the balancer can be further configured using the consumer buil

[2018-12-12 19:12] db7 commented on #160
Good points. I'd be more than happy reviewing PRs for this issue and #77. If you'd like to try, please let me know. I can also support your via slack.

[2018-12-12 20:11] mhaitjema commented on #163
Thanks for the reply. Unfortunately in our context we actually need to prevent the possibility of a rebalance from occurring as we want to the same set of static partitions to always be used regardless of whether an instance drops off. Is there anyway to force the existing group consumer to accept a static assignment or would we need to use the confluent consumer (which supports the Assign API)?

[2018-12-12 21:22] yuhui-lin commented on #161
thanks for the example. it looks good. but I would make a little change to `cb1`:
[code]
I have two questions about this approach:
- it may also have consistency issue assuming cb1 and cb2 running on separate goroutines. for example, cb1 gets suspended after `ctx.Value()`. then, cb2 does `ctx.Value` and also writes the new row2 to the group table (ctx.SetValue). now the cb1 holds out of date value

[2018-12-13 18:59] db7 commented on #161
No, it won't happen. Table1 and Table2 have the same keys and the same number of partitions. So all records of partition 0 of both tables are processed by a single goroutine that reads these records out of one input channel.

I don't think that's a major issue.

Yes, but I'd suggest to add that as a sub package library on top of the low-level ProcessorCallbacks. We have internally some libraries t

[2018-12-13 19:02] mhaitjema commented on #163
Thanks, @db7 I think I will go the latter route.

[2018-12-13 20:47] yuhui-lin commented on #161
thanks @db7 . I'll go through #99 and think about the implementation.

[2018-12-14 03:25] leenux opened #164 "How to improve performance?"
I found send 500 messages in 60 seconds.
Env:
cpu 3.2G 2-core
mem 8G
kafka 2.1.0 3-node
[code]
output:
[code]

[2018-12-16 12:43] db7 commented on #164
AFAIR sarama-cluster is not used when emitting messages. You can replace the complete consumer/producer library if you like -- but you'll need to implement some stuff.

Are you measuring the startup time as part of your benchmark? Starting a goka processor takes much longer than simply starting a sarama producer/consumer:
- the processor has first to rebalance and get the partition assignments
- l

[2018-12-17 01:42] leenux commented on #164
got it,thx

[2018-12-17 01:42] #164 closed

[2018-12-17 05:14] db7 commented on #164
I dont think we have any performance benchmarks yet. If you write some, we’d be happy if you could contribute them to the project. Thank you

[2018-12-19 19:03] db7 commented on #161
@yuhui-lin I'll close this issue for now. Reopen it if necessary.

[2018-12-19 19:03] #161 closed

[2018-12-27 22:50] antonin07130 opened #167 "Prevent offset commit when calling log.Fatalf in callback"

[2018-12-28 06:35] frairon commented on #167
Hi antonin07130,

thanks for the report, can you elaborate on the question or the bug report, please?
From the title I would assume that you're having trouble with the offset commit whenever a panic happens during processing of the message.
Goka makes sure to not commit any offsets whenever there's an error in one of the operations inside the message processing callback.
If it does, it's definitel

[2019-01-08 09:10] jbpin commented on #77
Hi guys.
Happy new year. Can we take time to finish this feature. I think it should not take a while to implement this. What's Lovoo position with that project? Are you maintaining it? Do you have any roadmap?

[2019-01-14 19:02] prune998 opened #168 "Question: Why use goka over plain Sarama ?"
I don't really see the point in goka over Sarama, which is used for the Kafka communication anyway ?

goka seem only to ease the use of emitters/receivers instead of some `for` loops with `channels`...
What would be the arguments to re-write my 20 micro-services using sarama / saramacluster to use goka ?
Would goka be more efficient ?

I don't mean to be rude, i'm just quick checking to understand

[2019-01-14 20:07] db7 commented on #168
Goka is about state. If you don't have state, Goka is probably not the right library for you.

Goka provides components to help you to build *stateful* systems that react to input streams with low latency and can scale. If you need to aggregate a stream or build a stateful system, Goka takes care of keeping your state safe inside Kafka -- you won't need to connect to another system and think about

[2019-01-17 20:42] db7 commented on #140
@annymsMthd Good to know, thank you!

We stopped our migration to Kafka 1.0 a year ago because of this error. I was hoping it was already fixed by now.

As far as I remember the issue does not occur with Confluent's library. If you'd like to try, we have a wrapper for it here: https://github.com/lovoo/goka/tree/master/kafka/confluent.

[2019-02-11 11:30] 5cmpersec opened #171 "Emitter emits messages to one partition"
[code]

We expect that when `ctx.Key()` is empty, output messages should be uniformly distributed across target partitions. However, all messages (from multiple app instances) go into only one partition.

[2019-02-11 12:40] frairon commented on #171
Hi 5cmpersec,

Emitting a message in Goka (inside the processor-callback or using the Emitter) uses a sarama.AsyncProducer under the hood. Partitioning is configured when creating that producer, and per default Goka uses a partitioner, which (as far as I can see), makes nil-messages go into a random partition.
So I suppose your case is `key == ""` instead of `key == nil` when all messages end up i

[2019-02-15 07:28] 5cmpersec opened #172 "Rebalancing error"
We observe some errors in the log due to rebalancing errors.
It seems that the processor tried to restart several times

[code]

The only way to recover from this error is to shut down the instances and start it again.

[2019-02-15 08:07] frairon commented on #171
@5cmpersec assuming the question is answered I'll close the issue. If there are still unclear points, let me know.

[2019-02-15 08:07] #171 closed

[2019-02-15 08:10] 5cmpersec commented on #171
@frairon Thank you
I implemented a custom Partitioner and it works as expected.

[2019-02-15 08:13] frairon commented on #172
I'm not sure I understand the question here.
If there is an error communicating with Kafka (e.g. one broker crashed, so the leader for some partitions is not available), then the goka processor shuts down.
I have not seen this error message on a healthy cluster. If that is the case for you, then this might be an issue (though with kafka configuration probably and not goka itself).

[2019-02-18 18:15] andrewmunro opened #174 "Why append "-table" to topic name?"
Just a query, what is the reasoning behind suffixing to the topic name that is passed?

This prevents us using views with compacted topics that were generated by other (non-goka) applications...

[2019-02-18 18:36] frairon commented on #174
Hi andrewmunro,

the reasoning I guess is simply convenience. The processor is identified by it's group name, thus its group table name is suffixed -table. If there's a need to overwrite that behavior I think it's quite easy to add an option here.
What is not clear from your question is, why you can't have a view on a compacted topic without the suffix?
It's totally fine to create a view using `go

[2019-02-19 09:58] andrewmunro commented on #174
Haha silly me didn't realise you can just do`goka.Table("topic")` (I was doing `goka.GroupTable(goka.Group("topic"))` before.

[2019-02-19 09:58] #174 closed

[2019-02-19 10:17] frairon commented on #174
No worries :). I think the names are a bit misleading here, because the `goka.Table` and `goka.Topic` are just casting the types and `goka.GroupTable` actually changes the value.

[2019-02-19 18:44] awdng commented on #156
I was wondering if I missed something crucial in the presentation at GoDays 2019 or if the on demand scaling would actually be a problem. In scenarios with high peak loads and auto scaling, spinning up new instances that have to read and build their local state first before being ready to serve requests would be a dealbreaker in many scenarios, wouldn't it? Is it advised to use Goka in more Downst

[2019-02-20 10:54] 5cmpersec commented on #172
You are right.
This issue happens when one partition is i/o timeout, so goka processor stopped.

Thank you.

[2019-02-21 19:13] db7 commented on #156
Good questions, @awdng. Glad you are trying Goka.

True, if your state is large, quickly scaling up will be a problem. If you are deploying on the cloud though, you can use external persistent disks for your replicas. That will mitigate the problem. If you scale down, you don't lose the complete state. Once you scale up again, the recovery will be faster (depending on your write pattern).

I would

[2019-02-26 07:28] frairon commented on #172
No problem :)
So the current behavior is intended and actually not an error, right?
If you agree we could close the issue.

[2019-02-26 07:29] frairon commented on #168
Closing the issue as the question seems to be answered. Feel free to reopen if something is still unclear.

[2019-02-26 07:29] #168 closed

[2019-02-28 03:41] 5cmpersec commented on #172
Yeah, I closed this ticket. Thank you.

[2019-02-28 03:41] #172 closed

[2019-03-08 14:40] frairon opened #176 "processor gets stuck in shutdown after error"
We have seen cases where a running processor gets stuck while shutting down, when one of the brokers goes down or the metadata is changed due to e.g. rebalance.
The error is supposedly a `kafka.Promise` that is never finished, because the producer gets cancelled. This leads to the waitgroup in [https://github.com/lovoo/goka/blob/master/partition.go#L142](partition.go) to never get done, so the par

[2019-03-08 19:12] db7 commented on #176
The producer does not get canceled on rebalance. I think it should be then related to some error on emitting a message. Do you have the stack trace?

[2019-03-08 20:42] frairon commented on #176
Sorry, my bad. The example was just wrong. So one broker goes down -> the leader of some partitions is not the leader anymore -> the meatdata is changed. I'll send you the stack trace

[2019-03-26 20:18] rsr-at-mindtwin opened #178 "multi_iterator looks broken"
[code]

In the code above, the assumption of Next() on the first call is that the set of iterators in m.iters actually are the iterators that had a hit on Seek(), hence the accumulation of iterators into the local []iterator{}.

If that's not the goal, then this code is simply wrong and the iters local shouldn't exist.

[2019-03-27 09:17] frairon commented on #178
Hi Rob,
thanks for the issue report. That code looks indeed pretty strange, if not wrong. I'll take a look later.
If you want to improve it yourself, you're very welcome to create a PR :)

Cheers!

[2019-03-30 03:38] activeshadow opened #179 "Question: are processor instances scaled automatically?"
I'm looking to use `goka` to help process large amounts of incoming messages against state. In reading the documentation, I've yet to get a good understanding of how scaling processors should occur.

For example, is the `ProcessCallback` function provided as part of the `Input` edge of a `ProcessorGroup` scaled automatically to the same number of partitions the Kafka topic provided to the `Input`

[2019-04-02 14:18] frairon commented on #178
@rsr-at-mindtwin, I had a look at the iterator implementation. I think the idea was that seek indeed filters the iterators so that only the ones matching the seek will remain in the set of iterators for the next `Next()`-call. Then however, the original iterators would be lost for the following seek calls.
I created a PR with the changes that I think would be necessary to fix that. Take look and l

[2019-04-02 18:06] db7 commented on #179
@activeshadow, there is no automatic scaling mechanism. Usually, one runs processors and services in Kubernetes and uses other means to start multiple instances of them. Note though that the scalability of the processors is limited by the number of partitions that your topics have (not a Goka limitation, but a fact of Kafka-based applications).

If you have little state in the processors, then you

[2019-04-02 18:18] activeshadow commented on #179
@db7 thank you for taking the time to respond! So if I understand correctly, something like Kubernetes deployment replicas is the way to scale. This, in turn, must mean that a `goka` `ProcessorGroup` is **not** synonymous to a Kafka `ConsumerGroup`, and as such scaling a `goka` `ProcessorGroup` will **not** result in each instance getting a copy of each message in a Kafka topic.

Can you confirm t

[2019-04-02 18:26] db7 commented on #179
ProcessorGroup in goka is pretty much the same as a Kafka ConsumerGroup.

If you start multiple consumers with the same consumer group, then they won't consume the same messages. So if you start multiple processors with the same "processor group", they won't consume the same message. Except if one of them fails and the other takes over, but that is the same in any Kafka consumer.

[2019-04-02 18:39] activeshadow commented on #179
Ah... I'm starting to see it now (I'm new to Kafka, surprisingly enough). The idea of a consumer group is just a group name a consumer associates itself with when connecting to Kafka.

Anyway, this helps a ton. Thank you again so much for taking the time to reply back to me and for developing and maintaining such a slick library.

[2019-04-02 18:39] #179 closed

[2019-04-02 19:22] db7 commented on #179
No problem. If you are into slack, `gophers.slack.com` has a `#goka` and a `#kafka` channel for discussions -- not sure if it is faster than here, though.

[2019-04-04 20:11] rsr-at-mindtwin commented on #178
thanks.  that looks right to me.

[2019-04-05 01:02] abhishekrb19 opened #181 "Seek in memory.go appears to be broken"
`Seek()` in `memory.go` appears to be broken. It would always return `true`, regardless of the key being seeked for.
[code]

`i.exhausted()` will always return `false` from `Seek()` because current is being overwritten to -1. Also, should the check for keys actually be `strings.HasPrefix(k, string(key))` and not `strings.Contains(k, string(key))`?

[2019-04-05 09:58] frairon commented on #181
Hi @abhishekrb19,
thanks for reporting the issue!
I'll have a look on that. Can't promise anything, but I'll try to do it soonish.
As usual, improvements and PRs are very welcome :)

Cheers

[2019-04-05 18:47] db7 commented on #181
Actually, there is an unmerged branch by Sami that should have fixed these issues. May make sense to check that out.

[2019-04-18 09:12] TheL1ne opened #182 "Proposal: log progress of recovery"
When we create new instances which have to sync from scratch with kafka we have no clue if the instance is still alive while it recovers the data from kafka which can lead to uncertainty over multiple hours.
It would be great to log at least how much was already synced and it would be even better when we can log an approx of how long it will take to recover the remaining missing data.

[2019-04-22 10:29] weburnit opened #184 "How can I config multiple consumer for 1 Topic"
Hello dears,
I've tried but there's only one Consumer run, others don't have any effects.
Are there any specific configuration for Goka?
Thanks

[2019-04-23 09:06] frairon commented on #184
Hi Paul,

I'm not sure I understand what you mean with "multiple consumer".
When using goka, you can create either an Emitter (that just sends messages), a Processor (that consumes events, persists state in a table and emits messages) as well as a View (read-only access to a processor's state table).
If e.g. an input topic has multiple partitions, which it usually has, then you'll consume them in

[2019-04-23 09:11] weburnit commented on #184
your comment is great enough to close my issue

[2019-04-23 09:11] #184 closed

[2019-04-24 19:03] db7 commented on #182
Predicting won't work. There are two problems:
1- The only thing you know is the current offset and the high-water mark. You don't know how many of the records have been deleted because they are updates to the same keys. So (HWM-offset) don't tell you how many records you still really have to read from a compacted topic.
2- Even if you would use (HWM-offset) as an upper bound, you cannot know how

[2019-04-25 13:03] TheL1ne commented on #182
If we cannot approx the future I would at least add some logging to show that we are still alive

[2019-04-29 22:14] SamiHiltunen commented on #178
Didn't quite have the time I expected earlier, but better late than never I guess. #185 should fix this issue.

[2019-05-06 19:49] db7 commented on #182
I guess this has been merged now, right? Can I close the ticket?

[2019-05-06 19:50] db7 commented on #181
@frairon can you check the PR by Sami? It fixes this issue.

[2019-05-06 19:51] db7 commented on #178
@frairon can you check the PR? It lgtm.

[2019-05-06 20:46] frairon commented on #182
You're right, let's close it

[2019-05-06 20:46] #182 closed

[2019-05-20 11:43] mooumarou opened #186 "Lookup not working with multi-partitioned topics"
Hello community,
I am developing a streaming app and my case is the following:
- I created a topic with 3 partitions named `<t_lookup>`, which will be used for lookups, log compaction enabled
- I added the table to my graph using `<goka.Lookup(lookupTable, new(codec.String))>`
- I have an input stream of events named `<input_stream>` and my whole Graph declaration is: `<g := goka.DefineGroup(looku

[2019-05-21 18:12] db7 commented on #186
I haven't tried running your code but it looks good to me. As you initially thought, lookup tables can have any number of partitions.

How was your `t_lookup` generated? Was this perhaps created with a Java program? The java clients use a different hash function as the golang code. If that is the problem, you can overwrite the golang hash function with murmur2.

[2019-05-21 18:55] mooumarou commented on #186
Many Thanks for your reply. I created t_lookup using the Kafka-topics console client. How/where can I overwrite the golang hash function? Thanks

[2019-05-21 20:20] db7 commented on #186
To set the hasher you have to pass the `goka.WithHasher()` option to the processor. If you need murmur2 hasher, I think this one should work:
https://github.com/burdiyan/kafkautil/blob/master/partitioner.go#L27

You'll create the processor like this:

`p, err := goka.NewProcessor(brokers, g, goka.WithHasher(kafkautil.MurmurHasher()))`

Also take a look in the tips page, you may find something usef

[2019-05-22 12:01] mooumarou commented on #186
Thanks very much. The MurmurHasher works like a charm with multiple partitions :) Thanks again

[2019-05-22 12:01] #186 closed

[2019-05-27 07:50] #178 closed

[2019-06-04 15:36] burdiyan opened #187 "Update Kafka consumer group library"
The original Sarama library now support Kafka consumer groups out of the box, and `sarama-cluster` library is officially deprecated: https://github.com/bsm/sarama-cluster#deprecation-notice

Therefore, it would be great to replace sarama-cluster and use the original Sarama library for consumer group handling.

[2019-06-05 11:34] frairon commented on #187
Absolutely, I agree. I actually started a branch to migrate that some weeks ago, but haven't found the time to continue yet. if you want to start working on that let me know and I can push the branch.

[2019-06-13 02:40] activeshadow opened #188 "Using a tester with an emitter doesn't seem to be working"
Am I doing something wrong? The following test fails...

[code]

Using the tester with a Goka Processor works with similar test code (ie. the return value of `est.Next()` is what I expect it to be). Does using the tester to provide topics for the Emitter to write to not work like it does with Processors, or am I just doing something wrong?

[2019-06-13 07:54] frairon commented on #188
Hi Bryan,

thanks for reporting this, it turns out that this is indeed a bug in the tester code.

Let me give some background:
The tester basically keeps two levels of queues. One incoming queue and one that is pushed to the consumers (processors and views). Whenever we pass a message to the tester via `Consume`, the message is put into the incoming queue, then the tester waits until all consumers

[2019-06-13 14:21] activeshadow commented on #188
Thank you for the reply @frairon. I'm assuming the PR you created, then deleted w/out merging, causes deadlocks in tests? Regardless, I'll take a look at the code you added in the deleted PR to see what your thoughts were and see if I can't come up w/ a contribution as well.

[2019-06-13 14:51] frairon commented on #188
@activeshadow, well in the PR my idea was to give you a quick workaround (like a flush-function in the tester) that you could use in your test to get it running until we find a proper solution, but then I realized that this would require you to call that from production code if you're in test, which is probably not what you want :).
But if you're fine doing the `Flush` in the test only we could al

[2019-06-13 14:55] activeshadow commented on #188
I added the `tester.Flush()` method to a local copy of `goka` and my tests now pass. I'm assuming, however, based on your original comment above, that this might deadlock/break tests if callbacks passed to Goka Processors use an Emitter to emit messages instead of using the `context.Emit` function. Is it common for Processors to use Emitters instead of the context for emitting messages? If so, wha

[2019-06-13 18:07] frairon commented on #188
It's not common at all to use a separate emitter inside a processor. The only use case I can imagine is when a processor should emit into a separated kafka cluster, which wouldn't be reachable via the context. So changing the emitter would break tests like tihs.
However, what I'm also not sure of is that it would actually deadlock, just assuming. So I guess this  should be the first thing to test.

[2019-06-13 21:09] activeshadow commented on #188
@frairon I'm fine w/ just leaving the `tester.Flush()` workaround in my local copy.

I'd love to take a stab at testing whether or not changing the emitter would cause a deadlock, but I'll be honest... I'm not seeing where to make that change. From what I can tell, an emitter created using the `WithEmitterTester` option ends up calling the `tester.pushMessage` function ([see here](https://github.c

[2019-06-17 09:22] frairon commented on #188
@activeshadow Next try [here](https://github.com/lovoo/goka/pull/190). This makes the emitter flush after emitting by wrapping the producer.
This works however only if the tester is not used inside a processor callback. Otherwise it will deadlock. I added a unit-test for this case.
Thanks for checking the code anyway! Just thought it would be easier if I'd just add that quickly :).
Let me know wha

[2019-06-17 13:37] activeshadow commented on #188
Thanks @frairon! I'll check out this branch, get my tests working w/ it, and see if I can make it deadlock by removing the separate tester from your unit test that's used for the emitter inside the producer.

More to come. Thanks again!

[2019-06-17 16:40] activeshadow commented on #188
@frairon my tests now pass (w/out the need for `tester.Flush()`) and I did confirm the deadlock when the same tester is used for both the emitter and the processor that uses the emitter.

Thanks again!

[2019-06-17 17:31] frairon commented on #188
Hi @activeshadow no problem, glad your problem could be solved and someone is using the Tester :)

[2019-06-17 17:34] activeshadow commented on #188
Do you think this will be something that gets merged into the main code base @frairon?

[2019-06-18 11:31] frairon commented on #188
already done, just needed to wait for an approval :). It's in version v0.1.2

[2019-06-19 14:54] activeshadow opened #191 "What's the best approach for iterating a table in a processor?"
I have a use case that's similar to the [filtering of blocked users in Example 3](https://github.com/lovoo/goka/tree/master/examples/3-messaging#filter-messages-from-blocked-users-with-contextjoin). My use case, though, involves filtering against wildcard entries, so doing a join doesn't work.

Ultimately I need to compare a given value against all the wildcards in the table until a match is found

[2019-06-19 19:32] db7 commented on #191
Sure, GitHub issues are fine since the community is rather small. If you like there is also a goka channel in the gophers.slack.

You are right, joining is not the right approach here. Currently, the only way to be able to iterate over a view is to pass a view object to the ProcessorCallback. But as you can imagine, if you iterate over the view for each and every event, you'll be doing multiple di

[2019-06-19 20:36] activeshadow commented on #191
The table will be small relative to the amount of data being processed
by the stream.

This sounds interesting, but it's not just prefix matches we're doing...
the wildcard can be anywhere and can appear multiple times.

And you do this in a similar fashion to the LRU cache example, where you
implement a custom storage provider that gets used by a view?

Can you elaborate on the possibility of los

[2019-06-20 06:27] #188 closed

[2019-06-20 07:12] XiaochenCui opened #192 "Lost lots of messages due to async produce"
I recently write a test script which produce 20 million messages to kafka with goka, but there
is only about 14 million messages after produce complete.
The disk space is enough and no error messages in kafak logs and client logs.
The script and kafka is running in docker, and under a subnet.

test scripts:
[code]

Count messages using
`docker-compose exec kafka kafka-run-class.sh kafka.tools.GetO

[2019-06-20 10:51] db7 commented on #191
Processors use consumer groups. So they store consumed offsets in Kafka. Views keep in local storage the offset (they don't use consumer groups). I think it is a bit hard to keep them in sync, but maybe I am too cautions. If you try in this way, let me know if it works fine.

Sure. No reason to pass the view if you keep the complete values in your array. If your values are too large, you could add

[2019-06-20 11:36] activeshadow commented on #191
Awesome, thank you @db7. This is pretty much the approach I implemented after reading your first response yesterday, but I totally missed the need for the call to `goka.DefaultUpdate`.

[2019-06-20 11:37] #191 closed

[2019-06-20 12:34] db7 commented on #192
That sounds weird. What is the retention time of the topic? It's not log compacted, right?

[2019-06-21 00:47] XiaochenCui commented on #192
Here coms the log retention policy:
[code]

And log compaction is disabled

I test 20 million messages using samara, and there are exactly 20 million messages after test finish:
[code]

I will test goka soon later and post the result here.

Thank you.

[2019-06-21 00:52] XiaochenCui commented on #192
Oops there are only 11 million messages in the topic.

[code]

[2019-06-21 07:36] yanyuzhy commented on #192
Could you try multi times and then paste the results?  Thus we can get more information about this issue.

[2019-06-21 08:04] frairon commented on #192
@XiaochenCui one error check could also help: the `emitter.Emit(...)` returns a `Promise` which will result in an error. Maybe there are errors which you aren't seeing since you're not checking for that. Like this:
[code]

[2019-06-21 08:32] XiaochenCui commented on #192
@frairon

[2019-06-21 12:42] frairon commented on #192
Yep, nice :)
So at least one message is too large.
Kafka's limit is 1MB per message by default, but I'd recommend using much smaller messages.
If your message is <1MB you could try to do an `emitter.EmitSync(...)`, which send messages one-by-one. It's much slower than batching but you could narrow the error down to the batching. If your messages are > 1MB you have to split them up. I think the Kaf

[2019-06-22 03:44] XiaochenCui commented on #192
@frairon

[2019-06-24 05:32] 5cmpersec opened #193 "[Question] Prevent commit offset with errors not in messages callback"
We are using `goka` in our data pipeline service, the service consumes from `topic#1`, do some transformations on data, then produce the data to `topic#2`.
the code looks like this:

[code]
how can we prevent commiting offset of `topic#1` in case the data can not be produced to `topic#2` successfully?
Can we simply replace `sarama.AsyncProducer` with `sarama.SyncProducer` by implementing custom `P

[2019-06-24 13:01] juliusbachnick opened #194 "Recovery from Broker failure"
Hey everyone,

I just tried the `2-clicks` example with multiple brokers to see how failure recovery works. For the example, I configured 3 brokers and the topics `user-click` and `mini-group-table` (each with 1 partition and 2 replicas). I modified the example slightly to connect to them:
[code]

After the example programm was up, I killed one of the brokers, assuming that the programm would reco

[2019-06-24 19:17] frairon commented on #193
Hi 5cmpersec,

If `ctx.Emit` fails for some reason, the message will not be committed and the processor will shutdown automatically, so you're safe in this scenario.
However, you cannot continue, because in Kafka, messages are consumed in the order in which they were produced. If you can't process a message for some reason, you have to drop it. Unlike NSQ or PubSub you can't "not acknowledge" a me

[2019-06-24 19:40] frairon commented on #194
Hi juliusbachnick,

the processor will always shutdown when there's an error communicating with Kafka. If you have multiple brokers and restart one of them, some partitions will be without leader, which makes Kafka do a leader-reelection. The processor fails, because it tries to send data to the offline broker (or some broker that is not the leader of the partition).
Usually we expect the server p

[2019-06-25 03:05] gmather opened #195 "Question: Rebalancing callback?"
I have a use case where I'm using the UpdateCallback in a Processor to get access to the Group table partition data. If a rebalance happens is there any way currently to know which partitions you are losing? I don't think I can see a way of making that work with processor options easily. If not, would adding a callback to the storageProxy or around there make sense? I'm happy to contribute if some

[2019-06-25 08:33] 5cmpersec commented on #193
Thank @frairon for your answer.

as I understand, `ctx.Emit` is asynchronous, `ctx.Emit` returns (no fail) doesn't mean that the data is sent to Kafka successfully. So there is a chance that `topic#1`'s offset is committed before the processor shut down, leading to a unexpected situation: for example `msg1` of `topic#1` is committed but the tranformed data of msg1 never reach `topic#2`

We can con

[2019-06-25 11:10] frairon commented on #193
Hi @5cmpersec,

you're right `ctx.Emit` works asynchronously so that it returns even if when sending the message will fail.
However, committing the message works asynchronously as well, so if sending the message fails, the input message will not be committed.
Since messages are consumed in order and produced in order, they'll also be committed in order, meaning you'll not lose the message if the p

[2019-06-25 11:35] juliusbachnick commented on #194
Hey  frairon,

That's what I did now: I wrapped the `proc.Run(ctx)` in a loop which would rerun the process if it failed. Also, I created the corresponding view using the option `goka.WithViewRestartable()` and terminate the view manually if the loop finishes. Seems to work so far :+1:

[2019-06-25 12:58] frairon commented on #194
Awesome, that's the way to go!

[2019-06-25 18:08] db7 commented on #195
Perhaps the most elegant way is to add a new callback for new partition assignments.

If you want to add something like that you could add a new processor option for a RebalanceCallback and then call the function inside the rebalance function [here](https://github.com/lovoo/goka/blob/dfc3e6211fa3d517ff9ffee0d7abe2b799251b70/processor.go#L659).

A not so elegant solution is to wrap the storage and

[2019-06-25 18:11] db7 commented on #193
That's right -- at least that is the intention.

Each input message of the processor gets a `goka.Context` object. The offset of the input message is only committed once all side effects issued by the context interface have finished. That can happen after the process callback has finished.

[2019-06-26 13:19] edgar86cru opened #197 "View is empty, if log forced the keys/values come back"
Hi everybody.
I had an error trying to get some values from a View.
This is the original code:
[code]
The err and the found were always nil for all ids but I check in another project and I have some key/value stored in the View.
When I forced the log of found and err adding the code below, I get back the values of my View:
[code]
Someone have already this malfunction??
Thank you

[2019-06-26 19:09] db7 commented on #197
Once you start the view, you have to wait until it catches up with Kafka. If you query the view before fully recovering it, it won't know about the value for your key.

I am not sure whether that is your case, but if it is, you can solve it by waiting the view to recover:
[code]

The table is locally stored in `/tmp/goka/...`. You can delete that folder to force your view to recover again.

[2019-06-28 07:35] edgar86cru commented on #197
Thank you for your reply. I will try the code that you wrote.
I didn't know about the view.Recovered() but I'm not sure if it's really this the problem because even when I asked the value/key after a while (minutes, hours) the view was always empty.

[2019-06-28 08:29] db7 commented on #197
Ah, ok. Another idea: Have you crestes the table with a Java Client?

The golang client (Sarama) uses another hashing and the views won’t find your keys.

To use the same hasher as Java you have to pass it when you create the view or processor. Check issue #186.

[2019-06-28 08:57] edgar86cru commented on #197
To create the view I used a golang client.
Thank you for your quick reply

[2019-06-28 09:39] XiaochenCui commented on #192
@frairon
But the size of message is 30 - 1000 bytes, so what's the root problem?

[2019-06-28 20:46] gmather commented on #195
Thanks for looking.

[2019-06-28 20:46] #195 closed

[2019-06-30 22:23] activeshadow commented on #171
@frairon I'm seeing a similar issue, even when the keys used when emitting a message are non-nil and different. As an example, I have a processor that's part of a processor group that subscribes to the same topic that I then scale in Kubernetes. The topic being subscribed to has 3 partitions, and I have 3 processors running within the group (so presumably each processor instance gets assigned to a

[2019-07-01 06:08] frairon commented on #194
@juliusbachnick seems like the issue is solved for you, so I'll close it. If you still have problems, feel free to reopen or create a new one.

[2019-07-01 06:08] #194 closed

[2019-07-01 06:13] frairon commented on #192
Well, if Kafka says the messages are too big, then I guess they really are too big, ohne way or another. If your single messages really are only 1000bytes max, then it has to do with the internal batching of the kafka producer (which I doubt, but wouldn't know where else to look). So have you tried sending with `EmitSync` to check if the errors still occur?

[2019-07-01 06:19] XiaochenCui commented on #192
@frairon
Not yet, the performance of EmitSync is only about 10 messages per second and far from meeting our expectations

[2019-07-02 04:46] activeshadow opened #198 "How can I debug a "negative WaitGroup counter" in a processor?"
I've got a processor that keeps panicking with the following:
[code]
How can I debug this, given the stack trace doesn't show what part of my code is making the call? I **suspect** it has something to do with using the loopback table, since this is the only processor I have that uses it, and it's the only processor I have that's panicking like this.

Note that I'm using a local copy of the `goka`

[2019-07-02 04:48] activeshadow commented on #171
@frairon I don't mean to be annoying, but I really can't figure out the issue here and it's one of the last things keeping me from being able to use `goka` in production.

Any thoughts?

[2019-07-02 07:05] abhishekrb19 commented on #171
@activeshadow , are we sure that the partition rebalance (new kafka assignment) happens after new instances are added?

Also, I think new support was added recently to support rebalance callbacks (with https://github.com/lovoo/goka/pull/196) which should address your use case?

Alternatively, if you don't want dynamic rebalancing and you could do static partitioning (deterministically assign insta

[2019-07-02 07:49] db7 commented on #198
I could image that happening if you are starting goroutines inside the process callback, or using the Ctx object after the process callback returned?

[2019-07-02 07:53] db7 commented on #171
@activeshadow that sounds indeed weird, can you confirm that the other partitions are empty? Either with tailer or kafkacat?

[2019-07-02 15:30] activeshadow commented on #198
Dang... you're right @db7, I do call `ctx.Loopback` inside of a Goroutine. I'm an idiot. Thank you for pointing this out!

I'm calling `ctx.Loopback` in a Goroutine in order to delay via exponential backoff to avoid a thundering herd scenario. Any other ideas on how to add a delay?

[2019-07-02 15:43] activeshadow commented on #171
@abhishekrb19 I'm not sure how to tell if the partition rebalance is happening... any hints? I would prefer dynamic rebalancing if at all possible.

@abhishekrb19 @db7 OK so I was incorrect instating that the other two partitions were empty... they are not. They are indeed getting written to.

After further investigation, based on your comments above, it looks to me like the first processor to com

[2019-07-02 16:01] abhishekrb19 commented on #171
@activeshadow, perhaps this log: https://github.com/lovoo/goka/blob/master/processor.go#L659?

```kafka-consumer-groups --bootstrap-server 0.0.0.0:9092 --execute --group <your_group> --describe```
would probably give some hint as well?

I am not sure when/how kafka partition rebalance gets invoked when a new client/instance for a group is added.

[2019-07-02 18:34] db7 commented on #198
@activeshadow. Glad it was the right guess.

If you want to use a goroutine, then it's better to create a producer and pass the producer and message to the goroutine (but not the goka.Context). It may be also safer cloning the message. Depending on how your codec works, it could reuse message buffers in upcoming process callbacks and cause weird behaviour if the message is not cloned.

This approa

[2019-07-02 18:54] activeshadow commented on #198
Thanks @db7. I think I'll start w/ option 2. I was using the same handler for the loopback as I was for the input, so i'll just create a new handler for the loopback that does exactly what the handler for the input does, but with a delay first.

[2019-07-07 09:20] frairon commented on #192
@XiaochenCui yes I understand the performance issue here, but trying that could make sure that it's not sarama's internal batching that causes messages that are too big.
Anyway, we have experienced that error a couple of times and it was always a message being too big. Always.
So to make sure it's not too big you could log the message size in the error handler. If we can't be sure 100% that the me

[2019-08-07 18:51] db7 commented on #198
@activeshadow can I close this issue? If you are still facing related problems, please let us know.

[2019-08-07 18:51] db7 commented on #197
@edgar86cru are you still facing problems or can I close this issue?

[2019-08-08 08:37] edgar86cru commented on #197
@db7 sorry I forgot to reply... You can close the issue it works with the code that you passed me, the first time that I tried I forgot to Run the view. Thank you again

[2019-08-08 08:37] #197 closed

[2019-08-16 15:47] activeshadow commented on #198
@db7 I can close it! No longer having this issue based on your suggestions.

[2019-08-16 15:47] #198 closed

[2019-08-23 13:08] activeshadow commented on #131
@db7 we're now running Goka in production at my company and I'm starting to see a lot of these errors in my processors that leverage processor tables for persistence. As an example, I have a Kafka topic with 20 partitions that I'm consuming, and I'm using Kubernetes to deploy 20 replicas of a processor using the same processor group name. The processor table has 20 partitions as well.

What can I

[2019-09-05 11:28] smaldeniya opened #201 "Kafka-streams API support"
HI Can I know whether this library supports for [kafka-streams](https://kafka.apache.org/documentation/streams/) API ?

[2019-09-06 07:24] db7 commented on #201
No. Still, you connect Kafka Streams with Goka, eg, a processor written in Kafka Streams or KSQL write to a table and a Goka View provides access to that table within a service. You just need to use the same marshalers.

[2019-09-06 08:18] smaldeniya commented on #201
@db7 sorry did not get it exactly. do you have any example code I can look into.

Thanks a lot

[2019-09-06 09:50] db7 commented on #201
I don't have any code example for that, sorry. What I meant is, you can connect consumers and producers written in any language with Kafka as long as every consumer/producer knows how to marshal the messages.

Take a look in this example of Goka: https://github.com/lovoo/goka/tree/master/examples/3-messaging

Here you could have some of the processors written with Kafka Streams and others with Gok

[2019-09-17 08:54] #201 closed

[2019-10-04 09:23] cioboteacristian opened #202 "Race condition error when running tests"
I tried to run a test that chains two processors, following your example from https://github.com/lovoo/goka/blob/master/examples/4-tests/example_test.go#Test_Chain . It works fine until I add the -race flag to the test runner.

After debugging for half a day and trying to improve my code, I actually tried to run the tests provider by you (in the aforementioned file), and it turns out that there is

[2019-10-12 11:49] db7 commented on #202
@TheL1ne Is this related to your latest PR?

[2019-10-12 11:50] db7 commented on #193
@5cmpersec I assume this question is answered. Reopen if necessary.

[2019-10-12 11:50] #193 closed

[2019-10-18 07:33] joy4eg opened #204 "cannot run multiple consumers in the same group"
I have kafka 2.3.0, and want to scale my application horizontally.
For example:
[code]
But when I tried to run the second instance I'm getting the following errors (like try to run `examples/1-simplest` twice):
[code]

Have I missed something ?
Thanks!

[2019-10-18 08:10] cioboteacristian commented on #202
In my own code, I use the tagged release. But, when I try to run test -race on examples/4-tests/example_test.go, I use the latest code. Either way, same problem. Does it actually work for you?

[2019-10-18 08:24] TheL1ne commented on #202
I can reproduce the problem with the example but it works fine without the race flag. I can only guess what happens here without deeper investigation. But my guess would be that the detection algorithms miss something because we produce and consume asynchronously.

Out of curiosity: why did you add the `-race` flag?

[2019-10-18 11:59] cioboteacristian commented on #202
We always use -race, because I believe it is good practice (btw, I am new to Go). It is also company policy :)

[2019-10-18 13:56] cioboteacristian opened #205 "High Watermark (hwm) in statistics"
I am trying to push Goka statistics to prometheus (and later on plot them on Grafana). I want to plot how far behind my consumers are, by looking at the offset and high watermark, however, the result is always 0 lag, even though I actually simulated lag (and running kafka-console-consumer shows me that my consumer groups actually have lag). Even using the provided monitor feature, the lags shown t

[2019-10-18 16:24] frairon commented on #204
Hi Yaroslav,
indeed we encountered this error a couple of times, but this was mostly caused by issues with the cluster itself.
Assuming your cluster is stable during the error I suspect there could be two other causes:
(1) goka/sarama doesn't go well with kafka 2.3.0. It's not really tested yet since we're still on an older version and it still relies on sarama-cluster, which is outdated by Sarama

[2019-10-18 16:50] joy4eg commented on #204
Hey,

Thanks for the quick reply!

I repeated my test (with `examples/1-simplest`) using kafka 2.1.1 and it works well.
But I wonder what could went wrong with a few minor updates ...

Anyway, thank you.

[2019-10-23 10:20] TheL1ne commented on #202
@db7 since it also occurs when using the tagged release: no it is not related to my PR.

[2019-10-29 18:03] cioboteacristian commented on #131
I actually have the same issue in the case of table processors. The first time it happened is when I've changed the input stream for such a processor without changing the group name. So, the consumer group now had to topics it followed (but it was actually interested only in the new one). My pods were all in a crash loop. I've deleted the consumer group from kafka and restarted the processors. I h

[2019-11-06 16:38] WideLee opened #207 "Dropping message while rebalancing"
I have tested on 2-clicks example by running **one producer** to emit user's clicks and **two consumers** to statistics clicks. the message emitted by producer such as follow:

[code]

However, after the second consumer started and kafka rebalancing, the clicks count of first consumer is smaller than expected, the missing count equals to the number of the message "dropping message from topic = use

[2019-11-08 08:49] frairon commented on #207
Hi WideLee,

thanks for the report.
Goka is designed to never drop/discard/miss any messages. The message "dropping message while loading" occurs only during catchup/recover of a processor-table or view. The reason for this is the internal multiplexing of messages. For example in case of a rebalance, messages from the previous session could still be in the internal pipeline, which must be ignored.

[2019-11-08 10:59] WideLee commented on #207
This is code of emitter, it emits 1000 message and the last message is `user-9  999-<time>`

[code]

[code]
Here is the consumer, only added the gracefully quit and specify the samara kafka verison to the example in `examples/2-clicks/main.go`
[code]

Normally, if I run only one consumer, it gets the output as below, each user clicks 100 times,
[code]

But I if I run two consumers, after the secon

[2019-11-08 11:51] frairon commented on #207
Did you start the two consumers on the same machine locally? If so, there can be problems with storage, since they're using the same directory.

[2019-11-08 11:56] WideLee commented on #207
Nope, two consumers are in different hosts, one in is Mac host and the other in my Parallel Desktop virtual machine (CentOS). Even the storage is `/tmp/goka`, but it is still different.

[2019-11-08 11:58] WideLee commented on #207
If I run them in the same machine, it will panic with an error, but not in this case.
[code]

[2019-11-08 12:09] WideLee commented on #207
I have noticed that when the dropping message is occurred,

`ev.Topic is "user-click-22"`, but `p.Topic is "mini-group-22-table"`

[code]

[2019-11-09 10:58] WideLee commented on #207
@frairon I found the reason why click count is less than expected.

After rebalancing and message dispatcher is restarted, the partition message channel received messages as follow:
[code]

And the message loop is in `partition.recover()` until EOF received. For this reason, the normal message from groupConsumer is dropped without processing, and these messages cannot be processed forever.

Though

[2019-11-10 08:07] db7 commented on #131
@activeshadow, I lost track of your message. Is this still a problem? If yes, please reopen this ticket.

[2019-11-15 04:47] gmather opened #209 "Leveldb memory usage during compaction"
Hello,
I'm seeing a spike in heap after a large Persist topic on a processor is recovered without an existing leveldb. From what I can tell, this recovery is happening via a leveldb transaction to pause compaction and once recovered it'll commit and cause an auto-compaction. From profiling the heap, there is GBs allocated for this. Once fully recovered the processor runs at steady state in the 100

[2019-11-21 19:51] db7 commented on #209
You analysis is correct. Recovery happens in a transaction and once the transaction is done, the compaction kicks in, and that may take a while. AFAIR the recovery turns out to be faster in this way than doing compaction all the time. The drawback is the memory spike.

You can also remove the transaction in the implementation of the storage. You can actually build your own storage and pass it to t

[2019-11-26 08:15] frairon commented on #209
Hi @gmather, as Diogo pointed out the behavior you experience is the expected but I admit it's not optimal regarding memory consumption.
We did try out regular transaction commits on leveldb but as said it was a bit slower so we opted for spending the memory.
Our processors are deployed in Kubernetes and our (dirty) solution for this problem is simply to allow the pod to use much more memory than

[2019-11-28 20:52] bellemare opened #210 "Timestamp/offset ordering when consuming from multiple topics?"
When consuming from two or more kafka topics, is there any mechanism for ensuring interleaved consumption of topics?

ie: If topic A is to be a table, and topic B is to join against that table:
1) If topic B is fully consumed first, there will be no output because b.join(a) -> nil
2) If topic A is fully consumed first, then we will get output, but it may not be correct... for instance, we may join

[2019-11-28 21:00] db7 commented on #210
Once you start a processor, it will recover up the table up to the watermark at the start time. After that it will start consuming streams (and keep the table up to date). Goka has no way how to control time windows to join tables with streams. There was some discussion in the past about that, you can find it in earlier issues, but there was no progress to implement it since it's not simple. If yo

[2019-11-28 21:24] bellemare commented on #210
Thanks Diogo. Further, for a fresh start with consumption from two topics,
how would it select which events to process? We use Kafka extensively, so
our sources would actually be other fully asynchronous topics without
user-entered data. would it just try to consume from all partitions across
all topics round-robin?

On Nov 28, 2019, at 4:00 PM, Diogo Behrens <notifications@github.com> wrote:

Onc

[2019-12-02 19:49] bellemare opened #211 "Samara-cluster dependency seems to have an issue"
I'm getting a samara-cluster issue when I try to get and when I try to run the sample code. Both go and dep are freshly installed, OSX 10.13.6.

[code]

[2019-12-04 13:32] rehabaam commented on #211
It is related to bsm/sarama-cluster project code.
I had the same issue after installing it. I fixed it by changing that line
`ticker := time.NewTicker(c.client.config.Consumer.Offsets.CommitInterval)`
to be
`ticker := time.NewTicker(c.client.config.Consumer.Offsets.AutoCommit.Interval)`

[2019-12-09 13:18] cioboteacristian opened #212 "Consumer in crashloop for persistance processor"
I have a processor that has a persistence processor. It appears that it is not able to rebalance at all, and it causes my pods to be in a crash loop.

My topic used for persistence (`-table`) has `cleanup.policy=compact`.  Apparently, we have 1.3 mil messages in this topic.

I've even tried to reduce the number of pods to 1, to see if there is some kind of concurrency problem, it staled with the l

[2019-12-10 08:28] dawei101 opened #213 "Go get error"
[code]

[2019-12-12 13:55] cioboteacristian commented on #212
I am thinking to add a persisted shared volume at /tmp/goka, to avoid all this startup thing. Is there something I should be aware of ? For example, I was wondering what happens if the offset that is persisted in LevelDB does not exist anymore, because of Kafka compaction, what would the recovering do?

[2020-01-20 04:10] suohailong commented on #213
I have the same issue

[2020-01-21 10:15] frairon commented on #213
So the issue is, that sarama-cluster (which is deprecated) became incompatible with sarama at some point. The only workaround is to downgrade your sarama version, e.g. `v1.22.1`. That should resolve the compiler issues.

[2020-01-26 13:23] jkt628 commented on #211
[bsm/sarama-cluster is deprecated](https://github.com/bsm/sarama-cluster/blob/master/README.md#deprecation-notice) and who knows if [this PR](https://github.com/bsm/sarama-cluster/pull/308) with exactly that fix will be merged.  which leads to a bigger issue:

is anyone updating [goka](https://github.com/lovoo/goka) to [Shopify/sarama](https://github.com/Shopify/sarama) >= [v1.19.0](https://github

[2020-01-26 13:37] jkt628 commented on #211
in the meantime add this to your go.mod:
[code]

[2020-01-26 19:18] db7 commented on #211
@jkt628 I am pretty sure @frairon started working on removing sarama-cluster from goka/kafka subpackage. I don't know the status though.

[2020-01-27 07:55] frairon commented on #213
I'll close this, it's a duplicate of #211

[2020-01-27 07:55] #213 closed

[2020-01-27 08:01] frairon commented on #211
@db7 is right, we're working on removing sarama-cluster and replacing goka's rebalance-dispatch-loop by Sarama's ConsumerGroup. Therefore we're refactoring most of goka's internals, not only the goka/kafka subpackage. We'll announce the release once it's in a more stable state so goka users can test it from the branch to avoid introducing too many breaking changes.
Many tests have to be rewritten

[2020-01-31 18:35] erichatescoding opened #233 "Does goka support kafka 2.2.1"
We are recently working on upgrading Kafka to 2.2.1. I found goka uses sarama under the hood for dealing with kafka. From our application's gopkg.lock, I saw the sarama is on v1.18.0, which does not support kafka 2.2.1.
Anyone has any idea of that?

[2020-01-31 21:39] erichatescoding commented on #211
I asked this question in another issue, but just saw your comment, and want to ask again the same question - if I want to upgrade kafka to 2.2.1, how am I gonna to upgrade goka (sarama under the hood) to be compatible with?

[2020-02-03 08:02] frairon commented on #211
Well @erichatescoding, it looks like there was a fix for the sarama-cluster/sarama incompatibilities of newest versions on Jan 29th. So without testing I would assume you can now use the newest sarama version again which should enable you to upgrade to Kafka 2.2.1. However, we haven't used Kafka newer than 0.10.2.1 yet so I don't know what might be issues there.

Also we're currently moving goka t

[2020-02-03 08:13] frairon commented on #233
I'll close this one as it's kind of answered in #211. If you're still having issues, feel free to reopen or open another issue.

[2020-02-03 08:13] #233 closed

[2020-02-03 08:14] frairon commented on #211
As far as I know, sarama-cluster works with newest sarama version so I'll close this issue, feel free to reopen if you think we need more discussion around that point here.

[2020-02-03 08:14] #211 closed

[2020-02-03 08:19] frairon commented on #207
issue seems to be fixed, thanks @WideLee for the PR

[2020-02-03 08:19] #207 closed

[2020-02-03 08:22] frairon commented on #187
I'll close that for now as we're upgrading that right now. As soon as we're on a stable state we'll create a new issue to discuss details/problems with the upgrade

[2020-02-03 08:22] #187 closed

[2020-02-03 08:32] #176 closed

[2020-02-03 08:38] frairon commented on #160
I'll close it for now, reopen or create a new issue if it comes up again.

[2020-02-03 08:45] frairon commented on #163
Since the issue is pretty old, I guess it's not such an important issue anymore. However, after upgrading to sarama's ConsumerGroup there's a config option https://godoc.org/github.com/Shopify/sarama#BalanceStrategy that looks like it enables static mapping when applied properly. Will close this for now. Feel free to reopen if it's still important.

[2020-02-03 08:45] #163 closed

[2020-02-03 09:08] frairon commented on #192
I'll close that for now, feel free to reopen if it's still an issue

[2020-02-03 09:08] #192 closed

[2020-02-03 19:34] erichatescoding commented on #211
Appreciate that, @frairon.
I did tested the the sarama version > 1.23.0 will support Kafka 2.2.1. Our application currently using goka, with kafka 0.11.0. So base on your input here, if we are about to upgrade to kafka 2.2.1, then you would suggest to use sarama rather continue using goka since you guys are still working on?

[2020-02-27 11:30] mattburman commented on #205
I've also replicated this @cioboteacristian

Did you ever get a solution for consumer offset lag?

[2020-03-19 10:08] gm42 opened #237 "Detecting Table status change"
I am looking for a way to detect that a table status has changed (let's say from `PartitionRecovering`/`PartitionPreparing` to `PartitionRunning`).

How would you suggest to implement this? Aside from polling, is there an approach which can make intelligent use of the callbacks? Or perhaps we need a status change callback in `goka`?

[2020-03-19 12:03] frairon opened #239 "Sarama ConsumerGroup Update"
In this issue we want to announce the upcoming release of a new and majorly refactored version of Goka.
Spoiler: there will be breaking changes, but nothing that can't be fixed with simple text-replace in your projects. So no worries. We'll provide a small migration guide, but most of the things will be obvious anyway.

So what are the major changes:

* Removed sarama-cluster, replaced with sarama

[2020-03-22 12:19] frairon commented on #237
Hi gm42, as announced in issue #239 there will be a refactored version of goka.

In this new version we use a "Signal" which allows to check for a state with polling as well as block/wait until the signal is in a certain state.
This can be used to achieve what you need. The view implementation e.g. already provides a function for that: `func (v *View) WaitRunning() <-chan struct{}`
The channel wil

[2020-03-22 12:28] frairon commented on #212
Hi @cioboteacristian, sorry for the late reponse. Your issue looks like the component is terminated by the container. The high memory usage could be a reason or the long startup time before it actually starts consuming.
The huge memory consumption is an issue we have to improve at some point but the recovery speed is actually limited to the network bandwidth and disk speed.
Anyway, as announced in

[2020-03-22 12:31] frairon commented on #204
@joy4eg, as the issue seems to be fixed for you I'd like to close the issue. Just wanted to let you know that we're working on an improved version of goka to support newer kafka versions. Feel free to try branch `consumer-group` or tag `v0.9.0-beta2` and let me know if you're having issues.
Thanks!

[2020-03-22 12:31] #204 closed

[2020-03-22 12:33] frairon commented on #205
@mattburman, we have been working on an improved version of goka that includes improving the Stats. Can you check branch `consumer-group` or tag `v0.9.0-beta2` if it is still an issue for that? I believe that specific bug was resolved there. But if not, let me know and we'll fix it, otherwise it's kind of useless :)
Cheers!

[2020-03-22 12:37] frairon commented on #202
@cioboteacristian can you check if you're still having the issue in branch `consumer-group`? This will be the next version as soon as it's stable enough. If it's fixed feel free to close the issue.
Thanks

[2020-03-23 17:28] mattburman commented on #205
Hi @frairon, sounds great

I've just quickly tried to integrate with my project. I depend on the goka/kafka package for things like `TopicManagerBuilderWithConfig`, `ConsumerBuilderWithConfig`, `WithProducerBuilderWithConfig`  and others

So I get errors installing with go mod vendor:
[code]

I've moved on from working on this at the moment so I don't have a great deal of free time. Just had 30 mi

[2020-03-23 18:13] frairon commented on #205
Sure that's easy. We moved everything that's still needed from goka/kafka to the toplevel goka package. Let me know if you're having more trouble.

[2020-03-23 20:16] frairon commented on #77
Since this issue didn't have any activity for over a year, I'll close it as it doesn't seem to be too important. Feel free to create a new issue with concrete requirements or ideas.

[2020-03-23 20:16] #77 closed

[2020-03-23 20:17] frairon commented on #80
I'll close it for lack of activity. Looks like a duplicate of #237 which should be fixed in the new versions. If you have further requirements, feel free to comment on that issue or create a new one.

[2020-03-23 20:17] #80 closed

[2020-03-24 13:42] mattburman commented on #205
Thanks @frairon, glad it was that easy!

I've managed to integrate and use the `partitionStats.Input.OffsetLag` and it does seem to be non-zero so should be more useful now 👍
I've not got the time to fully test it out to check its correctness but looks good 👍

I'm excited for the release. I have some work starting within the next few weeks/months to create an opinionated wrapper around goka, like

[2020-03-31 15:57] gm42 opened #241 "Context.Emit -> Context.MustEmit"
I just noticed that `Context.Emit(...)` calls `Context.Fail(err error)` which in turn panics.

I would mention in the GoDoc of `Fail` that a panic will happen and I would have called `Emit` as `MustEmit` to follow Go's practice to prefix panicking methods with `Must`.

What are your thoughts about this? Perhaps you could include some improvements in next major version.

[2020-03-31 18:15] frairon commented on #241
Hi @gm42,
well, technically you're right with the go practice to prefix panicking functions with `Must`.
However, the reason that `Emit` panics is to stop processing the current message immediately. It is not the user's concern that Emit is actually panicking but to rely on the fact that the processor will shutdown immediately on any errors.
Processing a message is like a transaction, either all E

[2020-03-31 21:10] gm42 commented on #241
It is if I don't want the process to panic; this would force to wrap code with `recover()` which is also not a good practice. I am reporting here that Godoc is expected to make it clear when code panics :)

I always thought that the `Must*` ought be prefixed regardless of the existence of a non-`Must` version, but what you say makes sense.

I would not know how to accomplish the same functionality

[2020-04-01 07:39] frairon commented on #241
So as said, the panic in the `Emit` is not the user's concern here. If it fails, the processor shuts down, that's goka's contract. Prefixing it with `Must` actually indicates that the user might recover if needed, but that shouldn't be done, so I think it would actually be misleading.
If Emit fails, there's either something wrong with the Codec or with the Kafka connection and in both cases there'

[2020-04-01 13:41] gm42 commented on #241
We are going in a loop :) I am saying that "processor shutting down" does not equate to crashing a Go process with a `panic`. That is something which at least needs to be pointed out in the GoDoc.

Prefixing it with `Must` is not an invite to wrap it in `recover()` syntax, it is just used to signal that this version of the function can panic and does not return an error. I already wrote in previou

[2020-04-14 14:27] mattburman commented on #239
Hi @frairon, I've been evaluating the latest beta changes and writing a wrapper around it for our own usage. Previously we had some logic around view.Run which implemented retry behaviour with an exponential backoff.

Re-testing this logic with the new versions shows that view.Run no longer returns like before and it's reconnecting with its own logic. That's great that the retries are within Goka

[2020-04-15 09:46] mattburman commented on #239
I have also found the view.Recovered method returns true whilst it is struggling to connect to kafka. Is this intended?

[2020-04-15 12:59] R053NR07 opened #247 "PartitionTable backoff on errors"
As noted in https://github.com/lovoo/goka/issues/239#issuecomment-613475400 by @mattburman the CatchupForever function just sleeps for some time and retries afterwards if an error occurs. An enhancement for this behavior would be to use an backoff instead and make it even configurable for the user.

I propose a solution for that in #246.

[2020-04-15 13:41] mattburman commented on #247
Looks good, it looks like I should be able to replicate our existing behaviour using https://github.com/jpillora/backoff

Presumably I'd just implement the goka.Backoff interface to use the existing library. We wouldn't need it to reset however, so I suppose we can just implement an empty function and not pass in the `WithViewBackoffResetTimeout`?

[2020-04-15 14:58] mattburman commented on #239
Looks like #246 would provide capability to track connection status outside of goka so the above is less critical

- store a `Connected` boolean on the struct implementing goka.Backoff
- set to `false` when Duration() is called
- set to `true` when Reset() is called

[2020-04-15 15:05] mattburman commented on #239
Looks like #246 might provide capability to track connection status outside of goka, but in a bit of a hacky way.

- store a `Connected` boolean on the struct implementing goka.Backoff
- append the struct to a list of all the backoffs in the implementation of BackoffBuilder
- set to `false` when Duration() is called
- set to `true` when Reset() is called

Then some status checker can possibly loop

[2020-04-15 19:21] frairon commented on #247
@mattburman one question regarding the expected and intended behavior you described in #239:
So before (in the current master), the `view.Run` method would return when there's an error. If you specify the option `WithViewRestartable`, it would retry until you call `Terminate` .
The new implementation is similar like returning on error or repeating when the option is set. To stop the view from repe

[2020-04-15 19:26] frairon opened #248 "View: expose view and connection state"
@mattburman in #239

[2020-04-15 19:28] frairon opened #249 "Migration guide"
How did the behavior of view.Run(..) change?

[2020-04-15 19:28] frairon commented on #239
@mattburman you're on fire here :D.
Let's sum up the issues (and actually create different issues for them).
Backoff-Behavior is discussed and handled in #247.
I also just created an issue for the view state/connection state #248 and one for the migration guide #249.

[2020-04-15 20:01] frairon commented on #248
I agree, we can easily enhance the view state to provide more details about the current state including what we have already, and adding a Reconnect/Connecting state that will be entered whenever the view is reconnecting.

A state for "lagging behind" is harder to achieve, because we don't have criteria to decide at which point you're lagging. Currently it's like this: before the partition recover

[2020-04-16 10:23] mattburman commented on #248
My main priority is definitely the Connecting state. A single boolean allowing me to fail a healthcheck and/or set a gauge metric for alerting on and graphing. If I'm successfully consuming all partitions, I don't care so much if I'm behind (Recovering vs Running) for my use case (just a low volume compacted topic at the moment).

That said I can see a case for being able to detect lagging behind.

[2020-04-16 11:05] mattburman commented on #247
so just to clarify:

We have a service using `v0.1.3` (one version before master?) using `WithViewRestartable` that implements custom logic around `view.Run`. We found `view.Run` would return an error if the kafka cluster was stopped (for example). We assumed `WithViewRestartable` just meant you could call `view.Run` again. We basically had a goroutine which would loop retrying view.Run if there w

[2020-04-16 12:25] frairon commented on #247
Oh, now I realize how the old behavior was, I wasn't really aware of that. The reasons for the old behavior were historical I guess. Initially we had problems with Kafka connection and needed the services to continue serving requests even if the views were down. So the easy solution was to keep the storage open and retry externally.

Sorry for the behavior change, that surely needs some documentat

[2020-04-16 14:01] #247 closed

[2020-04-16 14:02] R053NR07 commented on #247
Implemented in #246

[2020-04-16 14:28] frairon commented on #248
Awesome, agreed. So let's add a connecting-State which is entered when connecting/reconnecting. As you said, the rest can be achieved with Stats for now.
When that's done we can think about adding the convenience function to detect connection loss/lagging.

[2020-04-17 12:04] frairon opened #251 "print warning if kafka version was not set explicitly"

[2020-04-22 09:42] mattburman commented on #248
Hey @frairon, would love to see this implemented. I think I would struggle to add this myself. I'm wondering whether this is likely to be implemented soon?

I'm looking forward to the retries with the status access. Once they're in a release I'm fairly happy with this new version and we can integrate without any regressions in our metrics and availability.

[2020-04-22 12:40] frairon commented on #248
Sorry, our goka engagement comes in bursts :)
I'll try to do it this week, it's probably not a big issue to add.

[2020-04-22 14:03] mattburman commented on #248
No worries, I understand that :)

Thanks you for all of your engagement so far, it's really encouraging for our team to see :)

[2020-04-26 13:05] frairon commented on #248
First though (because I started that already earlier: I added more docs to the behavior change of view.Run when using restartable/autoreconnect).
Also added a different option, because the name "restartable" now does not make sense anymore.
Take a look at #252 if you want. I'll do the state thing next.

[2020-04-27 19:34] #249 closed

[2020-05-01 15:43] RiiD opened #254 "Support using codec for keys"
I am wondering if the community need the ability for specifying custom codec for the message key. It would be needed when using Kafka with something like schema manager for sharing schema or when the key is composite. I am working on adding this functionality to Goka [here](https://github.com/RiiD/goka/tree/support-key-codec). I was doing it backward compatible as much as I can, but some API has c

[2020-05-07 06:15] locxiang opened #255 "panic: non-positive interval for NewTicker"
Kafka version 2.3.1

[code]

[2020-05-07 20:33] frairon commented on #248
@mattburman there's progress, turned out to be more tricky than I thought. I tried to solve it by observing the partition states and merging them into a view state. Kind of reactive, maybe we should use rxgo at some point :).
Anyway, would be super helpful if you could check out the branch (`248-connection-state`), run the example `6-reconnecting-view` I created for that use case and let me know i

[2020-05-07 20:35] frairon commented on #255
Thanks for the issue report @locxiang.
Do you have any more details on how to reproduce that? Did you try the new version `v0.9.0-beta3` we're currently working on? This removes sarama-cluster and hopefully has less issues with kafka>0.11 (which the current master version has).

[2020-05-07 20:44] frairon commented on #254
Hi @RiiD, thanks for your time and the offer! Thanks to Corona I have much less time, so it's just fair :).
I think the topic with key-codecs came up once or twice, but without specific use case like a schema manager (which makes the whole thing more interesting actually). So we didn't follow up as no one really needed it.
So for us, string keys are fine, no need to have codecs. But let's hear wha

[2020-05-13 12:32] mattburman commented on #248
Thank you @frairon!

I've tested it out and `view.CurrentState()` and `view.ObserveStateChanges()` don't seem to do a `Running -> Connecting` state transition.
When I take down the kafka cluster with `make stop`, `view.CurrentState()` still returns 4. There's also no logs from the state observer. There are error logs for the partitions but not from the state observer goroutine.
Here's the goroutin

[2020-05-21 18:21] foxish commented on #255
Just ran into this same issue. Fixed in the new version without sarama-cluster.
[code]

[2020-06-15 11:11] frairon commented on #248
Hi @mattburman, sorry for the long delay.
So for the state change, that should be fixed now, I simply updated the partition reconnecting state too late. I guess the unit tests I'm going to have to write later would have found that :)

But let's solve the NewView issue. When I start the example without a running kafka cluster, it does not block, but fail with "kafka: client has run out of available

[2020-06-16 16:07] mattburman commented on #248
I have tested this manually and works well :)

.

Tested it again. I didn't realise this before, but it does return after 2 minutes. Is this configurable? I'd need apps to exit within seconds if it can't connect. This is just running `6-reconnecting-view/main.go` (with some log.Println before/after construction):
[code]

This is logs from an example from our wrapper library pinned to `v0.9.0-beta3

[2020-07-01 11:32] R053NR07 commented on #255
Hey,
as far as I know this problem appears with v0.1.4 and older when the sarama version used is too high. That's not obvious since there is no vendoring in these versions. You can try downgrading sarama go something like v1.20.1. Maybe newer versions will also work but not sure which exactly.

This problem will be solved when the new release is finished.

[2020-07-03 12:57] R053NR07 commented on #255
@foxish is it okay for you to close this issue now or do you need some more help?

[2020-07-06 06:35] #255 closed

[2020-07-06 06:45] frairon commented on #248
Hi @mattburman , sorry again (I guess it's time to stop apologizing for being late),

glad the status updates are working now, then let's consider this done.

We had a little brainstorming how to get the View tolerate a startup without a running Cluster. Since it seems that this would be too confusing and inconsistent to integrate, we decided it's best to leave it as it is. So let's concentrate on

[2020-07-06 12:37] pofl opened #258 "Examples `simplest` and `clicks` panic with "non-positive interval for NewTicker""
Simplest and clicks are the only examples I tried so I can't speak for the others.

I copied the Makefile from ./examples and ran `make start`. I copied the main.go from the examples and ran `go run .`

Output for "simplest" is

[code]

Output for "clicks" is

[code]

The problem seems to be with the sarama-cluster config. Panic occurs here https://github.com/bsm/sarama-cluster/blob/master/consume

[2020-07-06 12:55] R053NR07 commented on #258
Hey pofl, we are currently working on upgrading goka. The NewTicker problem is triggered by a invalid sarama version. You can use an older one or upgrade goka. We will release the upgraded goka version today which will fix this issue.

You can also have a look on this issue: https://github.com/lovoo/goka/issues/255

[2020-07-06 13:10] pofl commented on #258
Damn, sorry, it didn't occur to me that I could just browse the issues to see if this problem was reported before. Shame on me.

[2020-07-06 13:10] #258 closed

[2020-07-07 16:26] mattburman commented on #248
@frairon My bad, I wasn't clear at all

I've narrowed it down much further now. I'm running this on a mac:
`2-simplest` NewView returns quickly.
`6-reconnecting-view` NewView returns after 2 minutes.

I modified the broker in `6-reconnecting-view` to `127.0.0.1` rather than `localhost` and it now returns quickly too. (0.0.0.0 also returns quickly).

I've also re-tested my example in our wrapper (w

[2020-07-08 05:04] frairon commented on #248
Awesome, glad we figured it out :)
No worries for the confusion, actually that got me thinking that it really is confusing to connect the view before calling `Run`. The processor doesn't do that, so I would like to change that in the view too.

So the new behavior would be `NewView` only initializes the structure. `view.Run` then connects (or tries reconnecting using the backoff if cluster is down

[2020-07-08 08:25] frairon commented on #248
I'll close this issue and create another one where we can discuss details if we want to change that. We'll try to release goka to get rid of the huge PR and can fix such things later...
Many thanks @mattburman for your input!!

[2020-07-08 08:25] #248 closed

[2020-07-08 08:28] frairon opened #259 "View should connect to Kafka in Run, not NewView"
Without running Kafka we have different failure behavior between Processors and Views.

Current behavior:
* NewView returns an error

Intended behavior
* NewView succeeds
* view.Run returns either an error or does an internal reconnect, when option `WithViewAutoReconnect` is passed

[2020-07-08 10:01] mattburman commented on #259
This would be great!

from #248:

I agree, it can wait :)

[2020-07-10 13:16] frairon commented on #258
No worries @pofl :). Anyway, the new version is released now, so give it a try and let us know if you have any issues.

[2020-07-10 13:34] frairon commented on #239
The PR is merged, the version is released. I'll close the issue, feel free to open new ones for possible bugs/new issues

[2020-07-10 13:34] #239 closed

[2020-07-10 13:35] frairon commented on #212
Since there hasn't been any activity on this, I'll close it. If you're still having the same issue, feel free to reopen or create a new issue.

[2020-07-10 13:35] #212 closed

[2020-07-10 13:36] frairon commented on #205
I'll close it, seems to be fixed. If not reopen or recreate an issue please :)

[2020-07-10 13:36] #205 closed

[2020-07-10 13:37] frairon commented on #137
I'll close it as it didn't have any activity for 2 years now

[2020-07-10 13:37] #137 closed

[2020-07-10 13:38] frairon commented on #151
Let's close this and have another discussion if the issue comes up again.

[2020-07-10 13:38] #151 closed

[2020-07-10 13:39] frairon commented on #167
I'll close it as it doesn't seem to be an issue anymore.

[2020-07-10 13:39] #167 closed

[2020-07-10 22:01] pofl commented on #258
The issues are fixed.

I'm using goka on the Kafka side to build a rather simple forwarding microservice which forwards events from Kafka to Google Pubsub. I chose goka because I had heard that you guys do some background magic around commiting messages. Using goka I don't need to commit messages myself. So I was wondering if you could tell me, or better, write a few lines of docs about the fault-

[2020-07-11 04:56] frairon commented on #258
Hmm, I'm not sure what exactly you mean with "background magic" befor commiting.
All that goka does is wait for all operations in the message-callback to be successful (like storing the state, emitting to output topics), before it commits the message upstream. If your processor crashes in the middle, you'll receive the message again next time. So goka provides at-least-once semantics, not more. Th

[2020-07-11 07:38] pofl commented on #258
I mean e.g. in a case where for example offset 42 and 43 are processes in parallel but 42 fails. Is 43 committed? Will 42 get reprocessed? AFAIK if you only use Kafka features to track processing 42 would not get reprocessed if 43 is already committed. So do you have your own persistent process tracking mechanism and if yes how, on a high level, does it work?

[2020-07-21 07:37] db7 commented on #258
@pofl I assume offsets 42 and 43 refer to the same key. If they are different keys, there are no guarantees. If they are the same key, 42 and 43 are **not** processed in parallel because there is a single goroutine in the processor group that will process all messages of a key, sequentially.

But 42's side effects (creating updates, emitting messages) may still be uncommitted before the goroutine

[2020-07-21 07:59] db7 commented on #258
Also, there is no exactly-once guarantee in Goka. For example, if processing offset 42 generates messages A and B, and emitting of B fails, then A and B will be emitted again when 42 is reprocessed. So you'll see A twice downstream. Goka will give you at-least-once. If you need exactly-once, you should look into ksql or kstreams. However, usually one doesn't need exactly-once and it's sufficient t

[2020-07-23 10:31] mattburman opened #262 "Logger option for partition logging"
ignore this, I misread the code.

[2020-07-23 12:10] #262 closed

[2020-07-25 09:38] pofl commented on #258
Thank you for your answers. I would suggest copy pasting this conversation to some wiki page or something, so the next person with this question won't have to ask 😊
Keep up the great work!

[2020-08-11 19:26] thomashusa opened #264 "Sarama 1.27.0 breaks goka installation"
It looks like the release of the [latest version of Sarama](https://github.com/Shopify/sarama/releases/tag/v1.27.0) broke the goka installation.

To reproduce the issue simply install goka:
[code]

Downgrading Sarama to `v1.26.4` resolved this issue for me. I just put the following into my go.mod file:

[code]

[2020-08-17 09:52] R053NR07 commented on #264
Hey thanks for the reamark. It should be working again.

[2020-08-18 00:00] Pantani commented on #264
@R053NR07 the bug persists

[2020-08-18 07:45] R053NR07 commented on #264
Sorry I forgot the tester... Lets see if #266 works. At least it seems to work on my system.

[2020-08-18 09:36] R053NR07 commented on #264
If the issue still persists can you please provide another log output? This would really help.

[2020-08-18 20:57] troyanov commented on #264
@R053NR07 I can confirm that it works (at least on my machine).

Would be great if you could add a new `v1.0.1` tag because right now `go get -u github.com/lovoo/goka` gets `v1.0.0` which is broken. Thanks!

[2020-08-19 06:53] R053NR07 commented on #264
Done. Feel free to check it out. Thanks for your help!

[2020-08-19 06:53] #264 closed

[2020-08-21 11:11] rohit-msd opened #267 "Stuck consumers after rebalance"
Hi!

We're using goka v0.1.4 for a stateful processing service. We're noticing that after a rebalance, some of the consumers get stuck forever without processing any messages.  We're not seeing the same problem with services which don't have tables associated with them.

NOTE: We don't see the issue with v1.0.1, but it'll take us a while to port all our services to v1.0.1, so just wanted to know i

[2020-08-25 19:04] invernizzie commented on #131
@db7 I'm seeing the issue @activeshadow describes, also in a group that writes to a table with high write load. The rest of my consumer groups are doing fine, running in the same go program.

I'm running goka `v0.1.3-6-g55b1948` in production on a Kafka 0.1.1 cluster. I realize there's a newer version that modifies the consumer group code, do you think it would help to upgrade?

[2020-08-25 19:08] db7 commented on #131
@frairon, maybe this issue should be reopened.
@invernizzie sorry, I am not following the project at the moment.

[2020-08-26 09:40] frairon commented on #267
Hi @rohit-msd, thanks for reporting the issue and all the details, very helpful really!
To be honest we also had problems with stateful processors on rebalance or even reconnect in case of broker failures.
For lack of resources we never had the time to figure out the real reason and it was hard to reproduce.
Since the processors got stuck only on shutdown in our case, we had a shutdown-timer in ou

[2020-08-27 15:14] frairon commented on #131
@invernizzie, since it's very hard to debug the old code to reproduce those errors, it would be very helpful if you could update and let us know if the problem still occurs. Just reopen the ticket in this case.
As we have seen that error in the old version too, but not in the new one, I'm quite positive that it'll be fixed for you as well.

[2020-09-04 09:02] frairon commented on #267
@rohit-msd, tried your code, awesome work! This could reproduce the bug right away and indeed the workaround you proposed is working.
After setting the partitionChannelSize to 512 (default sarama buffer is 256), the issue couldn't be reproduced.
So the easiest solution I guess would be to pass `WithPartitionChannelSize(512)` when starting a processor to avoid this.
The other solution is to change

[2020-09-21 02:52] adw1n commented on #160
I think there is definitely an interest in using tracing with goka. Right now to use https://godoc.org/gopkg.in/DataDog/dd-trace-go.v1/contrib/Shopify/sarama with a producer you need to implement a custom `ProducerBuiler` which involves copy pasting the whole `producer.go` file and changing just one line https://github.com/lovoo/goka/blob/3d39c5afcd0a0d967c49318208e2b313bc0dfc8c/producer.go#L32 to

[2020-09-22 19:59] rohit-msd commented on #267
Yes,I've not seen any problems with the workaround till now. I'm attaching a patch in case anyone wants to use that will likely fix the issue but haven't tested completely.
[code]

[2020-09-22 19:59] #267 closed

[2020-09-22 20:57] rohit-msd opened #272 "LevelDB writes failing when writing the journal"
I'm using a goka View to serve data in a HTTP server. Lately, the view has been failing with the following error which seems like leveldb is failing to write to the journal file when setting a key in the db with the following error.
[code]

It happens only in one of the replica of the process (there are 3 replicas).

NOTE:
* The size of the keys is 32 bytes, values is 163 bytes.
* The LOG file doe

[2020-09-29 18:27] frairon commented on #160
@adw1n sorry for the late response, we're currently all on vacation and I honestly forgot to reply to you before. I'd be happy to review any PRs that would add that. Thanks in advance for the contribution :)

[2020-10-09 13:57] mrahs opened #273 "Processor fails to start with "resource temporarily unavailable" error"
This error happens with processors that have `Join` and/or `Persist` edges which use LevelDB.

The database is opened in a [separate goroutine](https://github.com/lovoo/goka/blob/master/partition_table.go#L203), but the parent one can [return too early](https://github.com/lovoo/goka/blob/master/partition_table.go#L216) without capturing the db reference. In other words, the database is never close

[2020-10-09 19:01] gmather opened #275 "Question: Access to the Iterator in a Join"
We have a use case where we'd want access to the underlying Iterator inside a Join callback. Currently the `Context` can access the value at the same key as the input. It's not a large change to get access to the iterator but it does involve a new method on `Context`.

My question is whether you would be receptive to Pull Requests for changes like this. I realize it's likely a niche use case and i

[2020-10-09 19:22] frairon commented on #275
Hi @gmather, that's quite an interesting proposal, and we never had the requirement honestly that's why it was never considered.

Important to note though: iterating would require a Lookup instead of a Join, as the Join might not be the full View if the group has multiple instances and the partitions are separated between processes.

Apart from that I don't see a reason why the Context shouldn't p

[2020-10-10 11:30] frairon commented on #272
Hi @rohit-msd, are you sure the issue is disk related? The message "cannot allocate memory" actually sounds like the machine is out of memory and failing when writing the log is just coincidence, could happen anywhere else too.
What I'd suggestion though, is to migrate to the new goka version (>1.0.0), as it has many improvements over the previous version. For example, the reconnect/retry logic of

[2020-10-10 11:34] frairon commented on #241
Hi @gm42, we have improved documentation a lot describing which functions might panic, see [here](https://godoc.org/github.com/lovoo/goka#Context).
Does that resolve the issue for you?

[2020-10-10 11:40] frairon commented on #251
can't easily determine that, also seems not too relevant currently

[2020-10-10 11:40] #251 closed

[2020-10-10 11:42] frairon commented on #237
Closing this for no activity, also it is currently more or less supported via the View's `ObserveStateChanges` method, that passes the underlying partition table state.

[2020-10-10 11:42] #237 closed

[2020-10-10 22:02] gm42 commented on #241
That is much better now, thanks!

[2020-10-10 22:02] #241 closed

[2020-10-21 10:32] adw1n commented on #273
@mrahs this got fixed in https://github.com/lovoo/goka/pull/274, right? Can we close this issue?

[2020-10-21 14:14] #273 closed

[2020-10-28 13:55] frairon opened #277 "Un-export Finish on Promise"
returning the `Finish` function in the promise after emitting something with an `Emitter` is confusing, users sometimes think they have to call that.

This function needs to be unexported.

[2020-10-29 09:57] #277 closed

[2020-11-21 19:20] mjsax opened #285 "ASF trademark"
Hi,

I am reaching out on behalf of the Apache Kafka PMC, because the logo of your project violates ASF trademark policies: http://www.apache.org/foundation/marks/faq/#poweredby

While we highly appreciate your project that makes the Apache Kafka eco-system stronger, we need to kindly asked you, to pick a different logo. I would have preferred to reach out via email, but your Github profiles do no

[2020-11-23 10:46] frairon commented on #285
Hi Matthias,

thanks for the hint, I just removed the logo.
Hope I didn't miss something. Otherwise let me know.

Best Regards - Franz

[2020-11-23 10:46] #285 closed

[2020-11-23 18:54] mjsax commented on #285
Thanks for your swift reply! Not using any logo does of course address the issue.

Thanks for respecting ASF trademarks and your collaboration! Hope you find a good new logo!

-Matthias

[2020-12-21 09:08] tlinford opened #292 "Processor does not stop on error"
If I understand the documentation processor.Run should exit if an error happens in the callback, instead it seems to get stuck retrying forever.
For example adapting https://github.com/lovoo/goka/blob/master/examples/1-simplest/main.go to panic or call ctx.Fail:

[code]
results in:
[code]

[2020-12-21 19:31] frairon commented on #292
Hi @tlinford,
thanks for the issue report! There's an open PR that fixes exactly that issue, see #291.
I guess I just have to push harder to get some approvals :)

[2020-12-22 11:10] ubunatic commented on #292
#291 approved @frairon

[2021-02-05 03:43] Greyh4t opened #299 "Is it possible to add the function of grouping by fields"
There is a fieldsGrouping feature in storm that sends messages with the same fields to the same machine, is it possible to add a feature like this

[2021-02-05 07:31] frairon commented on #292
will close this, reopen if it's still an issue

[2021-02-05 07:31] #292 closed

[2021-02-10 11:58] R053NR07 commented on #299
Hey @Greyh4t,
I'm not sure if I understand your use case completely but I'll try to make my points clear. So since we don't use Storm I'm not really sure where you want this feature to be placed. Generally there are two completely separate options:

1. For processor
2. For the views

When it comes to 1. the implementation of such feature is not trivial since kafka splits the workload internally am

[2021-02-10 14:58] Greyh4t commented on #299
Hi, thanks for your patient reply!

This feature should be for processors.

The actual business requirement is like this:
Each message in kafka is a url, we need to calculate the statistics for the url with the same domain name, and in the case of distributed deployment, the url with the same domain name is sent to the same server to ensure that the statistics are accurate

[2021-02-10 19:09] #272 closed

[2021-02-10 19:10] frairon commented on #272
closed the issue because of lack of activity. feel free to reopen/create new issue if you're still facing any problems.

[2021-02-11 09:55] R053NR07 commented on #299
And the purpose of the processor would be just to aggregate this count/statistics?

If that's the case you can use a `goka.Loop` in your processor. Then you could consume from some input stream with arbitrary key, analyze the data and loopback with the domain as key. In the loopback you can then do the calculations you want to do and persist the result. This would lead to a processor which maps do

[2021-02-13 14:42] Greyh4t commented on #299
The previous mentioned is a simplified requirement, our actual requirement is :
Read the url in kafka, extract the domain and path part of the url, perform statistics on the path part of the same domain, generate rules based on the statistics (these rules are used to match similar urls), put the rules into memory, and apply the rules to find similar urls when processing new urls. because of the la

[2021-02-13 15:10] Greyh4t commented on #299
![flow](https://user-images.githubusercontent.com/8017380/107853341-39bc1a80-6e50-11eb-95e8-c66ed737e9d4.png)
This is the actual flow chart.
A rule list can be simply understood as a map, where the key is the domain, and the value is the specific rule
{
    "www.a.com": ["rule_a1", "rule_a2"],
    "www.b.com": ["rule_b1", "rule_b2"]
}

[2021-02-15 10:09] R053NR07 commented on #299
No problem. Just check it out and if you have further questions just come back :)

[2021-02-17 15:06] #299 closed

[2021-03-02 22:35] adw1n opened #302 "multierr.Errors is missing Unwrap & WrappedErrors methods for error checking"
Goka processors return errors of type `multierr.Errors`. Users would like to be able to programmatically check the error types e.g. using `errors.Is(err, context.Canceled)` to find out if the error is expected or not. Based off of the error type users will use different logging level - e.g. `info` for expected `context.Canceled` errors and `error` for unexpected errors.

Is there really a need to

[2021-03-03 15:19] lumpynifkin opened #304 "How do views scale?"
Trying to understand how views are able to scale with increased load. Using the clicks example, lets say I have millions of users that are being clicked on each minute. It seems we are able to scale the view nodes horizontally in order to handle a bunch of requests. But that means each materialized global view node needs to consume all of the changes happening to every user. If I'm getting a 100k

[2021-03-03 21:24] frairon commented on #304
Hi @lumpynifkin, the views work bascially what you expected. Each instance has a complete copy of all partitions, so even though horizontal scaling doesn't have limits, the views have limits in terms of updates per second.
How is this handled? It isn't, we haven't had any issues in this regard yet. Having too many updates is usually handled on application level, e.g. with processors that aggregate

[2021-03-03 22:04] WillRemesh commented on #304
Awesome, thanks for the response. I figured it would be that type of solution with the load balancer. Is there any functionality currently built that ensures requests served by the materialized view are up to date with the processor? Possibly using the offset to make sure all events up to a certain point are represented in the view. I guess this could be considered a version of windowing. Looking

[2021-03-03 22:06] lumpynifkin commented on #304
Awesome, thanks for the response. I figured it would be that type of solution with the load balancer. Is there any functionality currently built that ensures requests served by the materialized view are up to date with the processor? Possibly using the offset to make sure all events up to a certain point are represented in the view. I guess this could be considered a version of windowing. Looking

[2021-03-04 10:00] frairon commented on #304
Currently there's nothing sophisticated built into the views that could be used to ensure that the messages are up to date.
There are low level stats however, that contain the offset lag for each partition and could easily be used to build some lag-detection. The main issue here is what to set the threshold to, as it depends on the throughput of the topic. But maybe some very simple metric like "a

[2021-03-04 13:47] lumpynifkin commented on #304
Thanks for all the info.

[2021-03-04 13:47] #304 closed

[2021-03-09 13:18] pfortin-urbn opened #305 "goka logging interface"
This is more maybe of an observation than a bug but I was using goka 0.14.0 before and decided to upgrade to 1.0.6 and I found that the experience was mostly painless except for the logger interface which took me a bit of time to wrap my head around.   I needed to use JSON to log into kibana/logstash to achieve best results with searching most of our keys are indexed.  So in version 0.14.0 I used

[2021-03-09 13:23] frairon commented on #305
Thanks a lot for the hint! As discussed in slack we'll take a look and hopefully come up with a better solution in the next days.

[2021-03-10 09:39] frairon commented on #302
Hey @adw1n,
It looks like replacing multierr/Errors with the library you suggested would solve the issue to get underlying errors, right? If that's the case and you have some time to spare, feel free to replace the errors - always happy to accept PRs :). I'm really not sure why we added our implementation of `Errors` in the first place.

For the multierr-package in general: on first glance, it als

[2021-03-11 09:06] frairon commented on #302
Just checked [hashicorp/go-multierror](https://pkg.go.dev/github.com/hashicorp/go-multierror) again, and one thing struck out to me: there is no method to simply accumulate errors into the existing multi-Error like [here](https://pkg.go.dev/github.com/lovoo/goka@v1.0.6/multierr#Errors.Collect) where you can do
[code]

the one from hashicorp and others require to overwrite the accumulator like this

[2021-03-12 11:50] wwaldner-amtelco opened #307 "Support Kafka headers in tester package"
Recently PR #77 was added that allows passing headers to the context emit method.  The same needs to be done for the Tester.Consume(...) method.  In order to write unit tests that can properly test processors that utilize headers in the handling of a message, the tester interface needs to accept and pass headers to processors.

[2021-03-12 19:53] db7 commented on #302
Indeed, the reason to write multierr in first place was the accumulation of errors.

[2021-03-15 16:08] wwaldner-amtelco commented on #307
I have created a PR #308 that implements and tests this feature.

[2021-03-18 14:25] danchupin opened #311 "Support batch producing for Emitter"
Why Emitter does not support batch producing?
In some cases batch producing can significantly improve write performance over single message write.

[2021-03-18 20:13] keisar commented on #99
Hi @db7
We've been looking into using goka, for our use case we'll need windowing based on specific times, for example every 15 minutes at fixed intervals and we need to make sure the window is emitted at fixed times even if no message was received.
I was thinking of implementing a Ticker to check the time and emit the window when needed, but after digging a little I noticed that if no message was

[2021-03-18 20:35] db7 commented on #99
Hi @keisar I haven't been working on this for a while. I guess @frairon would be able to help you better.

If I understand your problem every 15 minutes you need to create a message for every key of a table. The only idea I have at the moment is the following. In your main (not in ProcessCallback), you create a ticker that iterates over the table every 15 minutes and sends a message with an emitte

[2021-03-19 15:59] keisar commented on #99
Thank you @db7
I'll look into this, your approach sounds like a good one, I'm only concerned on how to make sure a window is not sent multiple times, for example if I have multiple instances running the emitter I'm guessing each emitter will see all the windows so I'll need to find a way of assigning the data between these instances or maybe goka covers us and we don't need to take care of that?

[2021-03-21 05:19] frairon commented on #311
Hey @danchupin, the emitter batches internally, it uses sarama.`AsyncProducer` internally that does the batching.
Thats why, if you call `Emit`, it returns a promise that lets you handle the success/failure of emitting the message via callback (because it's being batched).
Does that answer your question?

[2021-03-21 05:29] frairon commented on #99
Hi @keisar,
yep, Diogo is basically right, there is no builtin functionality of windowing in goka. But if you want to emit a value for every key, create a view and iterate over it. But this gives you more of a snapshots-semantics, because all windows are emitted at the same time. Also it probably won't scale very well since it'll always iterate all keys even when sending only few entries.
Also, if

[2021-03-22 10:06] keisar commented on #99
Hi @frairon
Thanks for the reply, you confirmed some of my concerns, I was worried on how this will scale…
Here’s an example, hopefully it’ll clarify the use case a little:
We have two topics, one for appointments and another for appointments cancellation (key for both is customer id), we want to window the events coming in per customer for 15 minutes, remove cancelled appointments and create some

[2021-03-22 15:05] danchupin commented on #311
Yes, thanks :)

[2021-03-22 15:05] #311 closed

[2021-03-24 07:44] keisar commented on #99
![image](https://user-images.githubusercontent.com/5013044/112271947-d8bc0980-8c7b-11eb-980b-3d7043ea784e.png)

Hi @frairon
I'm attaching here a diagram showing what we thought of doing in order to achieve the windowing, both for feedback and to help others if they want to achieve the same (assuming you won't find any issues we missed :) )
Short legend for the diagram:
1. Window tagger - adds a wi

[2021-03-25 18:02] mrahs opened #312 "Headers option should append headres not replace them"
`WithCtxEmitHeaders` option [currently replaces headers](https://github.com/lovoo/goka/blob/68893ef0b6d9748514f3593445498b592ae3911a/options.go#L534) every time it's called, which means only the last call gets its headers registered. I would expect multiple uses of this option to merge headers instead.

So roughly this:
[code]
Instead of this:
[code]

[2021-03-26 08:23] frairon commented on #312
good point @mrahs, will [this](https://github.com/lovoo/goka/pull/313/files) fix the issue for you?

[2021-03-26 14:34] mrahs commented on #312
Yep. Thanks @frairon for the quick fix!

[2021-03-29 07:03] frairon commented on #312
Awesome, thanks for the hint. PR is merged, will close this issue.

[2021-03-29 07:03] #312 closed

[2021-03-29 07:04] frairon commented on #307
should be closed, PR is merged. Feel free to reopen/create new issue if there are more problems.

[2021-03-29 07:04] #307 closed

[2021-04-05 19:36] frairon commented on #305
@pfortin-urbn I have a proposal in [this PR](https://github.com/lovoo/goka/pull/310).
This removes the  prefixing-logic from the interface, which greatly simplifies its usage/replacement by other loggers. Could you check the branch if it would work for you / solve the issue with logrus?
Also I'm not if it's too much of a breaking change to remove the `logging` package and move the logger into main

[2021-04-17 15:36] pfortin-urbn commented on #305
@frairon - Just saww this will check it out in the next couple of days sorry for the delay.

[2021-04-17 16:17] pfortin-urbn opened #314 "Question: Can I have 2 separate input processors"
I have 2 separate inputs:

- input type 1
  - has a view over the output.
  - process A handles the inputs and outputs message A
  - process B handless the filtering of message As for the message A consumers

- input type 2
  - does NOT have a view but needs share the view from type 1
  - Process C handless type 2 messages and creates message As and message B (contains several message As)
  - Mess

[2021-04-19 13:34] pfortin-urbn commented on #305
Works for my application!!

[2021-04-20 09:35] frairon commented on #314
@pfortin-urbn
Sorry for the delay. To be honest, I'm not completely sure what you're trying to achieve here in detail.
The chart is a great start, but some names/concepts are not really clear.
What I can say for now: no need to have multiple applications, everything can be in one binary, goka does not care about that.

When we design multiple processors and topologies, we start defining the proces

[2021-04-21 13:00] pfortin-urbn commented on #314
Franz,

That's pretty close but not quite, I'll try to add a lot more details here:

So we have our inventory system that publishes messages in real time to my application - that message can contain multiple Skus sources from multiple locations, and the current application breaks that messages into several smaller messages () and passes those to a loopback that then triages the messages and decide

[2021-05-05 16:19] mrahs opened #318 "LevelDB's Seek semantics do not honour goka's"
Goka's interface requires clients to call `Next` after a successful `Seek` before accessing the key-value pair:
- https://github.com/lovoo/goka/blob/48c2ec23705ff6ea23bb760e832cf2705d559edc/iterator.go#L24
- https://github.com/lovoo/goka/blob/48c2ec23705ff6ea23bb760e832cf2705d559edc/storage/storage.go#L36

LevelDB's interface makes the key-value pair immediately available after a successful `Seek`

[2021-05-07 07:16] frairon commented on #318
Hi Anas,
awesome observation, I think the Seek was used so rarely that it never occured.
Let's add the edge case.

Will you give it a shot or should I?

Cheers!

[2021-05-11 09:39] Psykepro opened #321 "Feature: Exactly-once semantics"
Is the exactly-once semantics added to the road map of the library? Would be very nice to have it. As it is the most wanted semantics in the stream processing realm.

[2021-05-11 14:49] frairon commented on #321
Absolutely, I understand the necessity of this. It's simply a matter of time and ressources, so we have to evaluate how easy/fast it is to add this to the framework and if it's worth the effort. Let me check in the next days (or feel free to give it a look too), but I can't promise anything.

[2021-05-12 16:11] mrahs opened #322 "Expose headers interface via the root package"
Just like `goka.Codec`, it would be nice to have `goka.Headers` rather than `headers.Headers`.

[2021-05-12 18:02] mrahs opened #323 "Breaking change in topic creation behvaiour"
This commit https://github.com/lovoo/goka/commit/efeaf69a500dc79b3adeecf8312a3de77b14f272 introduced a breaking change by actively avoiding creating new topics, regardless of the broker configurations. It breaks integration tests which rely on creating topics automatically. Without it, every integration test needs to be aware of all possible topics used in the participating services, which is hard

[2021-05-17 14:36] frairon commented on #323
Heyhey, so you're right it was kind of a breaking change, but only if we consider an earlier bug a "feature" :).
The auto-topic creation was actually not intended and was a misbehavior, if the cluster was configured to auto-create topics. On clusters with auto-create it would not create the topics. Also this behavior led to misconfigured topics. E.g. when creating Views before creating the process

[2021-05-17 14:37] frairon commented on #322
yeah why not, I don't mind it :)

[2021-05-17 15:27] mrahs commented on #323
😀

Only our daily clusters are configured with auto-create, so I didn't give it a lot of thoughts for production use. You bring up good points about default topic configurations. I'd rather that stayed out of scope for goka since it should already be configured in Kafka. Otherwise, topic creation should be properly implemented in the topic manager.

My personal bias is to remain predictable. If I'

[2021-05-18 18:16] twmb commented on #321
As a little bit of self promotion, my [franz-go](https://github.com/twmb/franz-go) client has EOS support, if the problem for supporting EOS in goka is due to sarama's lack of EOS support.

[2021-05-18 19:43] pfortin-urbn commented on #314
So we settled on creating a second topic for my first application the one that maintains state and get the second app to create a message with a separate codec that will feed the first application and keep the KTable / K/V store in sync.  The second app will simply have a Lookup to the first application's KTable to determine what it needs to do.

[2021-05-18 19:43] #314 closed

[2021-05-19 07:56] mavogel opened #325 "docs: how to run tests?"
I'd be happy to contribute but for me it's not clear how to run the tests. I could not find anything in the wiki and travis CI spc either. A Makefile in the root and instructions in a `CONTRIBUTING.md` linked in the readme would help :)

- how to make the test setup?
- how to run the tests?

I ask because this fails
[code]

<details>
<summary>Test log</summary>
<p>

[code]

[2021-05-19 08:11] frairon commented on #325
You're absolutely right, the test workflow is not documented (at all).
Especially as we added system tests for a few months now, that require a running kakfa-cluster.
The normal unit tests actually don't need kafka, so the `docker-compose` shouldn't be necessary.
There's a bug though, being fixed in https://github.com/lovoo/goka/pull/324, that runs a systemtest that seems to fail. If the PR is mer

[2021-05-19 08:19] frairon commented on #323
Ok I agree that topic creation should mostly be done externally. However for creation of the table-topic and loop-topics this should be done in goka, because the environment cannot know for sure how to name/configure them. But as said above, letting the cluster auto-create especially those topics, will lead to errors in production. Maybe we can think of a hybrid solution?
* for topics that goka is

[2021-05-19 08:40] #322 closed

[2021-05-25 17:32] mrahs commented on #323
Sorry for the delay. I'm busy with life atm until the second week of June. I'll try to get back to this issue as soon as I can.

[2021-05-31 10:36] frairon opened #329 "Migrate/Visit items in a processor"
I'm proposing a new feature, that allows to iterate all items of a processor table in order to modify them somehow.

The idea came from the following problem: Let's say we start with a processor accumulating messages
[code]

[code]

Now we have two options:

### Option 1: migrate forever
we set the count-field and remove the messages every time we touch the value. So we'll do an online-migration.

[2021-06-01 07:41] db7 commented on #329
This will only change the leveldb data or will visit also update the table topic in kafka? What about views on this table topic? They will have to implement that as well? I have the feeling that as an external observer of the topic, one may see the type of a key jumping back and forth.

[2021-06-01 09:10] frairon commented on #329
@db7 The visit function is a normal callback with the same functionality as a normal callback, but instead of receiving the message from kafka, it's generated internally for each key in the table. That way, a call to `ctx.SetValue()` updates leveldb and also sends the changes to kafka and to all views. It's also fine to emit new messages with `ctx.Emit`, or do `ctx.Join/Lookup`, because the functi

[2021-06-01 10:23] ubunatic commented on #329
How do you ensure the visitor does not cause data races? For instance:
[code]

[2021-06-01 13:27] mavogel commented on #325
Update: with the commit 85196c2e411038800fb422ed841483459d836a4c the test run fine as described above

<details>
=== RUN   TestConfig_DefaultConfig
=== RUN   TestConfig_DefaultConfig/equal
--- PASS: TestConfig_DefaultConfig (0.00s)
    --- PASS: TestConfig_DefaultConfig/equal (0.00s)
=== RUN   TestConfig_ReplaceGlobalConfig
=== RUN   TestConfig_ReplaceGlobalConfig/succeed
=== RUN   TestConfig_Repl

[2021-06-01 14:10] frairon commented on #329
It cannot have data races for the same reason that goka does not have data races when normally processing input events: only partitions are processed in parallel, within one partition, all events are processed sequentially and they don't share a storage.
The visit function will be triggered by an "artificial event" that is added to the sequence like normal input events from Kafka.

[2021-06-02 10:32] frairon opened #330 "Error in processor callback does not shut down the processor"

[2021-06-07 12:19] frairon opened #331 "Remove sarama depency from Callback"
In this PR https://github.com/lovoo/goka/pull/315/files the headers were added to the view's update callback.

However that means all applications using view callbacks pull sarama-dependency directly into their code, which I'd really like to avoid actually.
Could we maybe do another breaking change and replace that argument with an argument of type `header.Headers` (or `Headers`?
So the signature

[2021-06-07 16:59] mrahs commented on #331
I agree. My original intent was to avoid updates in existing code that _uses_ the callback. Let's not force an external dependency on implementations. I'll try to put something together this weekend.

[2021-06-08 07:05] frairon commented on #331
I didn't mean you to do it :D, just wanted to get your opinion.
Either solution is probably not too hard to implement, the question is just how much performance overhead we're willing to accept and how annoyed the users will be by the changes. But if you insist on giving it a shot, then I won't be in your way :smile:

[2021-06-09 18:10] oss92 opened #332 "ctx.Value() and View#Get(ctx.Key()) constantly do not match"
From my understanding, when you run `ctx.SetValue(x)` then `x` is set in the table then emitted to Kafka.

That means, that when a subsequent messages comes in to a `goka.Input` `ProcessCallback`, then the `ctx.Value()` should be already set to the latest value emitted. Which means also if I initialize a view as such

[code]

and, in the `ProcessCallback` I call

[code]

I should be equal to the r

[2021-06-11 09:20] frairon commented on #332
Hey @oss92 ,
thanks for the question!
Your first assumption is correct, after calling `ctx.SetValue(x)`, it is guaranteed, that subsequent calls to `ctx.Value()` will return `x`. That is, if the callback is invoked with the same key of course.

The thing with views however is, that they're only quasi-up-to-date. So whenever the processor updates the value, it will be emitted to kafka and consumed

[2021-06-11 09:48] frairon commented on #325
Sorry for the long delay. The fix was actually done in another PR, but doesn't matter :)

Basically we have three different kind of tests:
* unit tests:  run with `go test ./...`
* integration tests: they are run with the unit tests, but internally use the `tester.Tester`, so they're on a higher level.
* system tests: you need to run them with a running local kafka cluster (i.e. `cd examples && ma

[2021-06-11 11:34] oss92 commented on #332
Thanks @frairon. I will answer the first paragraph before the general notes. When I call `view.Get(ctx.Key())` I get a **more recently updated** value actually than the one I get from `ctx.Value()`. It happens in a quite indeterministic way but I can tell you perhaps my assumption to when it happens. Since we have 5 inputs, some messages might arrive to both inputs at the same time. In this case `

[2021-06-11 12:10] frairon commented on #332
Just to be clear, we're talking about one processor with one table, right?
In this case we can be sure that `ctx.SetValue(x)` leads to `ctx.Value() == x` for the next message using the same key. However, if the messages arrive from different input topics, we cannot make assumptions to their processing order. Kafka only guarantees ordering within one topic+partition.

So as an example to having mul

[2021-06-11 12:22] oss92 commented on #332
@frairon Thanks for the clarification but I definitely understand that I can not assume order with Kafka. What I am observing is that messages for each partition are NOT sequentialized. Properly.

I am merging 5 topics so let's call them one, two, three, four and five and assume they result in such content in a table topic.

[code]

I receive the first message from `two` so I expect `received_two`

[2021-06-15 21:08] frairon commented on #332
Hey @oss92, you got me a bit scared there for a second that maybe the whole system isn't working anymore.
So I wrote a little system test here: https://github.com/lovoo/goka/blob/332-systemtest/systemtest/multitopic_test.go

Run it with
`go test -v github.com/lovoo/goka/systemtest -run TestMultiTopics -args -systemtest`

It starts a processor consuming from 5 input topics, then 5 emitters emit dif

[2021-06-21 14:00] wwaldner-amtelco opened #334 "Processor stops consuming messages after TCP error"
When a processor encounters an error reading from broker, processing stops and will not continue until restarted.  The processor should either recover or return an error so application can recover and not get stuck.

[code]

[2021-06-21 15:40] frairon commented on #334
Hi @wwaldner-amtelco,
we also noticed a couple of weeks ago, that there's a problem when the processor experiences an error. However, this only affects panics in the user-callback. Those should lead to a processor-stop, which they don't.

In your case, sarama itself reports the error, which is tolerated intentionally.
As the message suggests, the consumer-group will restart into the next session (

[2021-06-21 15:44] wwaldner-amtelco commented on #334
Yes, I agree that Sarama is running into issue.  I am sure that it does not recover. Basically after the error occurs, no further messages are processed and I must restart my app to get things working again.

[2021-06-21 15:50] frairon commented on #334
That sucks. I'll look into it, seems critical. Thanks for reporting!

[2021-06-21 15:52] wwaldner-amtelco commented on #334
Agree.  Thanks for looking into this. If there is anything I can do to help, let me know.

[2021-06-21 16:02] frairon commented on #334
Which version of goka are you using? Maybe we already fixed something (and did not release it).
I'd like to reproduce this behavior, but triggering a `i/o timeout` isn't that easy (or is it?), so I'm a bit stuck there. The thing is, that we also experienced the the same error from time to time, but the processor was never stuck but continued to operate normally.
As a brute force approach we could

[2021-06-28 09:31] frairon commented on #334
@wwaldner-amtelco sorry, haven't found the time to implement anything yet.
One more idea though: could you turn on goka/sarama debug-logging on the affected processor?
For this, call `goka.SetDebug(true, true)`, documented [here](https://pkg.go.dev/github.com/lovoo/goka@master#Debug) if you're working on master, or `logger.SetDebug(true, true)` if you're on the latest tag.
That should enable debug

[2021-06-28 16:05] mikedewar opened #335 "Lookup's possibly not fast enough when building streaming sessions"
I'd like to be able to build sessions in a streaming manner, turning a stream of events into a stream of arrays, where each array is composed of events concatenated together based on some rule. Aside from one little wrinkle, Goka makes this a very pleasurable experience, so thanks for that!

The way I've implemented it is that there are two processors. The first has an input, an output, and a look

[2021-06-29 14:24] frairon commented on #332
@oss92, just one more thing you could check. It's crucial that messages with the same key, consistently end up in the same partition. If you don't have control over the emitter and cannot depend on that, you have to "reroute" the event prior to using it to modify the state using `Loopback`.

If a processor receives the same key in different partitions, two different go-routines will process the ev

[2021-06-29 19:37] oss92 commented on #332
@frairon The messages of the same key do end up in the same partition within a single topic. We use Kafka's default partitioning with no customization.

I have parked this for a while because actually I went with the implementation of reading from the view and from the `ctx.Value()` as a workaround and failing the run if the view has a newer value (which happens!!!! -- crazy)

I need to dive into

[2021-06-30 04:33] frairon commented on #332
No worries, take your time. I'm just thinking it's either a design error or something about the partitioning. It should be easy, reliable and no need for workarounds, because there really isn't any magic going on here :)

Using Kafka's default partitioner is probably actually be root of the problem though! In goka, we use [this](https://github.com/lovoo/goka/blob/master/options.go#L64) hasher to e

[2021-06-30 05:18] frairon commented on #335
Hi @mikedewar,

thanks for creating that issue, it clearly shows there's a lack of documentation/examples on how to use the Edges and some classic use case examples.

Regarding the aggregation problem. The solution is pretty simple: instead of reading from a lookup table, the writing processor must read its own table and store back the value. The view is only used for reading (e.g. to be served vi

[2021-06-30 10:49] mikedewar commented on #335
This is brilliant, thankyou so much.

I think my core issue is that for whatever reason I was stuck on the idea that a table had to reflect the input topic. So doing anything other than `ctx.SetValue(msg)` was discouraged.

In your response, the specific bit that unblocked my brain was in the comment in the diff:

[code]

until I read that, the idea that `SetValue` was actually an emission - which

[2021-07-30 07:20] mrahs commented on #323
I like the hybrid approach. I think the current approach of not specifying a topic to avoid creating it makes sense. So, for goka's owned topics, we check if they exist without triggering auto-create, and create them if they do not exist. For user defined topics, we just check if they exist and let the broker decide if it should auto-create or fail. In other words, goka shouldn't introduce a dupli

[2021-08-23 05:54] yzia2000 opened #342 "Proposal: Streams DSL"
Implement ![Streams DSL](https://docs.confluent.io/platform/current/streams/developer-guide/dsl-api.html) using Processor and storage API.
Included abstractions:
1. KStream
2. KTable
3. KGroupedStream
4. KGroupedTable
5. WindowedJoins
6. PersistentJoins
7. Cogroups

This provides much needed abstractions stream processing.

If no effort has been made to tackle this and the proposal gets accepted,

[2021-08-26 07:20] merlor opened #343 "Propose: expose processor state"
It will be nice to add a method to expose the processor.state field in order to have more fine grained information about processor state.
Examples could be:

`func (g *Processor) GetState() *Signal {
	return g.state
}`

`func (g *Processor) IsInState(state State) bool {
	return g.state.IsState(state)
}`

[2021-08-26 15:53] pfortin-urbn opened #344 "Can I `Emit` to a KTable?"
@frairon - I am in a processor and it has received a message to update the KTable but it could be for another key that the context key.  Can I use `ctx.Emit` to update the KTable and if I do that will local storage also be updated?  What is the preferred way to update the state of a key that is determined in the processor?

[2021-09-01 11:33] jomaresch commented on #344
Hey @pfortin-urbn.

I think the ctx.Loopback() function can solve this.
https://github.com/lovoo/goka/blob/15746b529b7977515329064d7199519410fbb664/context.go#L117
So if you receive a message with the key `key_a` and you want to update the stored value of `key_b` you can loopback the message to `key_b` using `ctx.Loopback("key_b", updateMessage)`.
In the Loop-Edge you define how to update the valu

[2021-09-01 11:50] db7 commented on #344
By ktable do you mean a ktable of kafka streams? if yes, you'll need to configure the hash function since sarama uses a different hash function.

[2021-09-01 12:35] jomaresch commented on #344
Oh sorry for the confusion. Somehow i totally missed the KTable part.

[2021-09-01 12:37] ubunatic commented on #343
I think this would expose to much internals and give access to processor management.

But we could expose the `Signal.state` of type `State` (which is an `int`)
https://github.com/lovoo/goka/blob/master/signal.go#L21
with the public states integers defined in
https://github.com/lovoo/goka/blob/master/processor.go#L18
This would be similar to how it is done for views:
https://github.com/lovoo/goka/

[2021-09-01 12:46] ubunatic commented on #342
Hey @yzia2000 we have nothing like that planned on our side.
If you can come up with small PoC + examples to show how this is useful, we would be happy to review.

PS: your link leads to a blank page with an error `Non-Image content-type returned`

[2021-09-01 12:51] pfortin-urbn commented on #344
@db7 Thanks I kinda knew that but wanted to know if there was easier way thanks!